@using KinaUna.Data
<div class="container">
    <br />
    <div class="row">
        <br />
        <div class="col-sm-10">
            <br />
            <h1>
                <img class="icon" src="~/icon.jpg">
                Welcome to @Constants.AppName Identity Server
                @if (User.Identity.IsAuthenticated)
                {
                    <div>@User.Identity.Name</div>
                }
                @*<small>(build {version})</small>*@
            </h1>
        </div>
        <br />
    </div>
    <br />
</div>
<br />
