<div class="container">
    <br />
    <div class="row">
        <br />
        <div class="col-sm-10">
            <br />
            <h3>
                <img class="icon" src="~/icon.jpg" alt="Icon image">
                Welcome to KinaUna Identity Server
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <span>@User.Identity.Name</span>
                }
                @*<small>(build {version})</small>*@
            </h3>
        </div>
        <br />
    </div>
    <br />
</div>
<br />
