@using KinaUna.Data
@using KinaUna.Data.Models
@using KinaUna.IDP.Services
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
    ViewData["Title"] = await LocaleManager.GetTranslation("Privacy", PageNames.Account, languageId);
    KinaUnaText privacyText = await LocaleManager.GetPageTextByTitle("__Privacy", "Privacy", Model.LanguageId);
}
<h2 class="title">@ViewData["Title"]</h2>
<div>
    <H4>
        <img src="https://web.kinauna.com/images/KinaUnaLogo_246x80.png"/>
    </H4>
    <br/>
    <div style="max-width: 600px;" id="impressumTextDiv">
        @Html.Raw(privacyText.Text ?? "")
    </div>
</div>