@using KinaUna.Data
@using KinaUna.Data.Extensions
@using KinaUnaWeb.Services
@model KinaUnaWeb.Models.ItemViewModels.LocationViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = Model.CurrentProgeny.NickName + " - " + await LocaleManager.GetTranslation("Photo locations", PageNames.Locations, Model.LanguageId);
    bool allowHereMaps = Context.Request.HereMapsCookieSet();
    string pageParameters = Json.Serialize(Model.LocationsPageParameters).ToString();
}
@section Scripts{
    @if (allowHereMaps)
    {
        <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css"/>
    }
}

<div id="locations-page-parameters" class="d-none" data-locations-page-parameters="@pageParameters"></div>
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="btn-group" style="float: right;">
        <a asp-controller="Locations" asp-action="Index" class="btn btn-info leave-page">
            <i class="fas fa-map-marked-alt"></i> @await LocaleManager.GetTranslation("Back to locations", PageNames.Locations, Model.LanguageId)
        </a>
    </div>
    <h2>@ViewData["Title"]</h2>
    <div class="row" style="clear: both; margin-top: 25px;">
        @if (allowHereMaps)
        {
            <div style="width: 100%; height: 560px; max-height: 60vh; margin-left: 20px; margin-right: 20px;" id="photo-locations-map-container-div"></div>
        }
        else
        {
            <div class="col-12 col-md-10 col-lg-9 col-xl-8 col-xxl-7 col-w1900-6 col-w2500-5">
                <div class="space-20"></div>
                <div>@await LocaleManager.GetTranslation("Cookie consent for Here maps has not been granted. To use maps enable cookies for Here Maps.", PageNames.Locations, Model.LanguageId)</div>
                <div class="space-20"></div>
                @if (Context.Request.ConsentCookieSet())
                {
                    @await Html.PartialAsync("_CookieConsentPartial", Model.LanguageId)
                }
            </div>
        }
        <div class="space-20"></div>
        <div id="pictureDiv" style="width: 100%; margin-left: 20px; margin-right: 20px;">
            <div class="card bg-primary" style="margin-top: 0; margin-bottom: 10px;">
                <div class="card-body" style="background: #326ebe; background: rgba(50, 110, 190, 0.8)">
                    <div class="info-title"><span style="font-size: 24px; color: white; margin-right: 15px;" class="far fa-images"></span><strong class="text-warning"> @await LocaleManager.GetTranslation("Click a marker on the map", PageNames.Locations, Model.LanguageId)</strong></div>
                </div>
            </div>
        </div>
        <div class="ml-md-auto mr-md-auto col" style="max-width: 600px;">
            <div id="photo-items-parent-div" class="d-none">
                <div id="photo-items-div">
                </div>
                <div style="height: 150px;">
                    <button id="more-pictures-button" class="btn btn-link btn-link-edit d-none" style="margin-top: 20px;">@await LocaleManager.GetTranslation("Show more", PageNames.Timeline, Model.LanguageId)</button>
                    <div id="loading-photos-div" class="w-100">
                        <div class="space-50"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (allowHereMaps)
{
    <script>
        let pixelRatio = window.devicePixelRatio || 1;
        let defaultIcon = new H.map.Icon("/images/purplemarker.svg", { size: { w: 36, h: 36 } });
        
        let platform = new H.service.Platform({
            'apikey': '@Model.HereMapsApiKey',
            'useHTTPS': true
        });

        let maptypes = platform.createDefaultLayers({
            tileSize: pixelRatio === 1 ? 256 : 512,
            ppi: pixelRatio === 1 ? undefined : 320
        });

        let map = new H.Map(document.getElementById('photo-locations-map-container-div'),
            maptypes.vector.normal.map,
            {
                zoom: 3,
                pixelRatio: pixelRatio
            });

        let ui = H.ui.UI.createDefault(map, maptypes);
        let behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
    </script>
    <script src="/js/locations/photo-locations.js" type="module" asp-append-version="true"></script>
}