@using KinaUnaWeb.Services
@using KinaUna.Data
@* ReSharper disable once RedundantUsingDirective *@
@using System.Web;
@model Note
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
}
<a class="leavePage" asp-controller="Notes" asp-action="Index">
    <div class="bg-primary timeline-card">
        <div class="timeline-card-body bg-notes">
            <div class="row">
                <div class="col-auto">
                    <span class="timeline-icon"><i class="material-icons">note</i></span>
                </div>
                <div class="col">
                    <div class="text-white">
                        @Model.CreatedDate.ToString("dd-MMM-yyyy HH:mm")
                    </div>
                    <div class="timeline-title">
                        <strong>
                            @Model.Title
                        </strong>
                    </div>
                    <div class="timeline-text text-white-50">
                        <div class="timeline-noteitem-text rounded text-dark bg-white">@Html.Raw(HttpUtility.HtmlDecode(Model.Content))</div>
                        @if (!string.IsNullOrEmpty(Model.Category))
                        {
                            List<string> categoriesList = Model.Category.Split(',').ToList();
                            <div class="text-right">
                                @foreach (string categoryString in categoriesList)
                                {
                                    <span class="btn category-item tag-item-sm leavePage">@categoryString</span>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>