@using KinaUnaWeb.Services
@using KinaUna.Data
@model Vaccination
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
}
<a class="leave-page" asp-controller="Vaccinations" asp-action="Index">
    <div class="bg-primary timeline-card">
        <div class="timeline-card-body bg-vaccination">
            <div class="row">
                <div class="col-auto">
                    <span class="timeline-icon"><i class="material-icons">local_pharmacy</i></span>
                </div>
                <div class="col">
                    <div class="timeline-title">
                        @Model.VaccinationName
                    </div>
                    <div class="timeline-text text-white">@await LocaleManager.GetTranslation("Date:", PageNames.Vaccinations, languageId) @Model.VaccinationDate.ToString("dd-MMM-yyyy")</div>
                </div>
            </div>
        </div>
    </div>
</a>