@using KinaUna.Data.Extensions
@model Skill
<button class="item-btn skill-item" data-skill-id="@Model.SkillId">
    <div class="bg-primary timeline-card">
        <div class="timeline-card-body bg-skill">
            <div class="row">
                <div class="col-auto">
                    <span class="timeline-icon"><i class="material-icons">school</i></span>
                </div>
                <div class="col">
                    <div class="timeline-title">
                        <img src="@Model.Progeny.GetProfilePictureUrl()" style="float: right; max-height: 24px; margin-top: 2px; margin-right: 6px; margin-left: 4px; border-radius: 10px; right: 8px; position: absolute;"/>
                        @if (Model.SkillFirstObservation.HasValue)
                        {
                            <div>@Model.SkillFirstObservation.Value.ToString("dd-MMM-yyyy")</div>
                        }
                    </div>
                    <div class="timeline-text text-white">
                        <div>
                            @Model.Name
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</button>