@using KinaUnaWeb.Services
@using KinaUna.Data
@using KinaUna.Data.Extensions
@model Vaccination
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
}
<button class="item-btn vocabulary-item" data-vaccination-id="@Model.VaccinationId">
    <div class="bg-primary timeline-card">
        <div class="timeline-card-body bg-vaccination">
            <div class="row">
                <div class="col-auto">
                    <span class="timeline-icon"><i class="material-icons">local_pharmacy</i></span>
                </div>
                <div class="col">
                    <div class="timeline-title">
                        <img src="@Model.Progeny.GetProfilePictureUrl()" style="float: right; max-height: 24px; margin-top: 2px; margin-right: 6px; margin-left: 4px; border-radius: 10px; right: 8px; position: absolute;"/>
                        <div>
                            @Model.VaccinationName
                        </div>
                    </div>
                    <div class="timeline-text text-white">@await LocaleManager.GetTranslation("Date:", PageNames.Vaccinations, languageId) @Model.VaccinationDate.ToString("dd-MMM-yyyy")</div>
                </div>
            </div>
        </div>
    </div>
</button>