@using KinaUnaWeb.Services
@using KinaUna.Data
@model Skill
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
}
<a class="leave-page" asp-controller="Skills" asp-action="Index">
    <div class="bg-primary timeline-card">
        <div class="timeline-card-body bg-skill">
            <div class="row">
                <div class="col-auto">
                    <span class="timeline-icon"><i class="material-icons">school</i></span>
                </div>
                <div class="col">
                    <div class="timeline-title">
                        <strong>
                            @Model.Name
                        </strong>
                    </div>
                    <div class="timeline-text text-white-50">
                        @if (Model.SkillFirstObservation.HasValue)
                        {
                            <div>@await LocaleManager.GetTranslation("Date:", PageNames.Skills, languageId) @Model.SkillFirstObservation.Value.ToString("dd-MMM-yyyy")</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>