@using KinaUnaWeb.Services
@using KinaUna.Data
@model VocabularyItem
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
}
<a class="leave-page" asp-controller="Vocabulary" asp-action="Index">
    <div class="bg-primary timeline-card">
        <div class="timeline-card-body bg-vocabulary">
            <div class="row">
                <div class="col-auto">
                    <span class="timeline-icon"><i class="material-icons">forum</i></span>
                </div>
                <div class="col">
                    <div class="timeline-title">
                        @Model.Word
                    </div>
                    <div class="timeline-text text-white-50">
                        @if (!string.IsNullOrEmpty(Model.Language))
                        {
                            <div>@await LocaleManager.GetTranslation("Language:", PageNames.Vocabulary, languageId) @Model.Language</div>
                        }
                        @if (Model.Date.HasValue)
                        {
                            <div>@await LocaleManager.GetTranslation("Date:", PageNames.Vocabulary, languageId) @Model.Date.Value.ToString("dd-MMM-yyyy HH:mm")</div>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>