@model VocabularyItem

<a class="leavePage2" asp-controller="Vocabulary" asp-action="Index">
    <div class="card bg-primary" style="margin-top: 0; margin-bottom: 8px;">

        <div class="card-body" style="background: #641e1e; background: rgba(100, 30, 30, 0.8)">
            <div class="info-title"><span style="font-size: 18px; color: white; margin-right: 12px;" class="far fa-comment-alt"></span><strong class="text-warning">
                @{
                    System.Diagnostics.Debug.Assert(Model.Date != null, "Model.Date != null");
                }
                @Model.Date.Value.ToString("dd-MMM-yyyy HH:mm") </strong></div>
            <div style="margin-left: 2px;" class="text-white">@Model.Word</div>
            <div style="margin-left: 2px;" class="text-white">Language: @Model.Language</div>
        </div>
    </div>
</a>