@using KinaUnaWeb.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using KinaUna.Data
@model Sleep
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
}
<a class="leavePage" asp-controller="Sleep" asp-action="Index">
    <div class="bg-primary timeline-card">
        <div class="timeline-card-body bg-sleep">
            <div class="row">
                <div class="col-auto">
                    <span class="timeline-icon"><i class="material-icons">hotel</i></span>
                </div>
                <div class="col">
                    <div class="timeline-title">
                        <strong>
                            @Model.SleepStart.ToString("dd-MMM-yyyy HH:mm") - @Model.SleepEnd.ToString("dd-MMM-yyyy HH:mm")
                        </strong>
                    </div>
                    <div class="timeline-text text-white">@await LocaleManager.GetTranslation("Duration:", PageNames.Sleep, languageId) @Model.SleepDuration</div>
                </div>
            </div>
        </div>
    </div>
</a>