@model Sleep
<a class="leavePage2" asp-controller="Sleep" asp-action="Index">
    <div class="card bg-primary" style="margin-top: 0; margin-bottom: 8px;">

        <div class="card-body" style="background: rgba(70, 160, 60, 0.8)">
            <div class="info-title">
                <span style="font-size: 18px; color: white; margin-right: 12px;" class="fa fa-bed"></span><strong class="text-warning" style="font-size: 12px;">
                    @Model.SleepStart.ToString("dd-MMM-yyyy HH:mm") - @Model.SleepEnd.ToString("dd-MMM-yyyy HH:mm")
                </strong>
            </div>
            <div class="text-white" style="margin-left: 2px; font-size: 12px;">Länge : @Model.SleepDuration</div>
        </div>
    </div>
</a>