body {
    padding-top: 40px;
    padding-bottom: 20px;
}

.container {
    padding-right: 8px;
    padding-left: 8px;
}

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */

#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar {
    background-color: #3a2051;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 3px;
}

    .navbar .navbar-brand {
        color: #ecf0f1;
    }

        .navbar .navbar-brand:hover,
        .navbar .navbar-brand:focus {
            color: #f7d082;
        }

    .navbar .navbar-text {
        color: #ecf0f1;
    }

        .navbar .navbar-text a {
            color: #f7d082;
        }

            .navbar .navbar-text a:hover,
            .navbar .navbar-text a:focus {
                color: #f7d082;
            }

    .navbar .navbar-nav .nav-link {
        color: #ecf0f1;
        border-radius: .25rem;
        margin: 0 0.25em;
    }

        .navbar .navbar-nav .nav-link:not(.disabled):hover,
        .navbar .navbar-nav .nav-link:not(.disabled):focus {
            color: #f7d082;
        }

    .navbar .navbar-nav .dropdown-menu {
        background-color: #3a2051;
        border-color: #6828a9;
    }

        .navbar .navbar-nav .dropdown-menu .dropdown-item {
            color: #ecf0f1;
        }

            .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
            .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
            .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
                color: #f7d082;
                background-color: #6828a9;
            }

        .navbar .navbar-nav .dropdown-menu .dropdown-divider {
            border-top-color: #6828a9;
        }

    .navbar .navbar-nav .nav-item.active .nav-link,
    .navbar .navbar-nav .nav-item.active .nav-link:hover,
    .navbar .navbar-nav .nav-item.active .nav-link:focus,
    .navbar .navbar-nav .nav-item.show .nav-link,
    .navbar .navbar-nav .nav-item.show .nav-link:hover,
    .navbar .navbar-nav .nav-item.show .nav-link:focus {
        color: #f7d082;
        background-color: #6828a9;
    }

    .navbar .navbar-toggle {
        border-color: #6828a9;
    }

        .navbar .navbar-toggle:hover,
        .navbar .navbar-toggle:focus {
            background-color: #6828a9;
        }

        .navbar .navbar-toggle .navbar-toggler-icon {
            color: #ecf0f1;
        }

    .navbar .navbar-collapse,
    .navbar .navbar-form {
        border-color: #ecf0f1;
    }

    .navbar .navbar-link {
        color: #ecf0f1;
    }

        .navbar .navbar-link:hover {
            color: #f7d082;
        }

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }

        .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
        .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
            color: #f7d082;
        }

        .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
            color: #f7d082;
            background-color: #6828a9;
        }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }

        .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
        .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
            color: #f7d082;
        }

        .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
            color: #f7d082;
            background-color: #6828a9;
        }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }

        .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
        .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
            color: #f7d082;
        }

        .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
            color: #f7d082;
            background-color: #6828a9;
        }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }

        .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
        .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
            color: #f7d082;
        }

        .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
            color: #f7d082;
            background-color: #6828a9;
        }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
}

    .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #f7d082;
    }

    .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #f7d082;
        background-color: #6828a9;
    }

@media (max-width: 991px) {
    .navbar-collapse:after {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: #3a2051;
        display: block;
        content: "";
        z-index: 1;
    }
}

@media (max-width: 991px) {
    .navbar-collapse .navbar-nav .nav-item .nav-link {
        color: #ffffff;
        margin: 5px 10px;
    }
}

@media (max-width: 991px) {
    .nav-open .navbar-collapse {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        overflow-y: auto;
    }
}

@media (max-width: 991px) {
    .navbar .dropdown.show .dropdown-menu, .navbar .dropdown .dropdown-menu {
        background-color: transparent;
        border: 0;
        padding-bottom: 10px;
        transition: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        transform: none !important;
        width: auto;
        margin-bottom: 10px;
        margin-right: 10px;
        padding-top: 0;
        padding-right: 10px;
        height: auto;
        animation: none;
        opacity: 1;
        overflow-y: auto;
    }
}

.navbar.bg-primary {
    color: #fff;
    background-color: #3a2051 !important;
    box-shadow: 0 4px 20px 0 #000000, 0 7px 12px -5px #9c27b0;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 12px -5px rgba(156, 39, 176, 0.46);
    white-space: nowrap;
}

.navbar-toggler {
    padding: 0.25rem 0.2rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

@media (max-width: 991px) {
    .navbar-collapse {
        position: fixed;
        display: block;
        top: 55px;
        height: auto;
        width: 98vw;
        right: 0;
        margin-right: 0 !important;
        z-index: 1032;
        visibility: visible;
        background-color: #3a2051;
        overflow-y: auto;
        border-top: none;
        text-align: left;
        padding-right: 0;
        padding-left: 0;
        max-height: 85vh !important;
        -webkit-transform: translate3d(99vw, 0, 0);
        -moz-transform: translate3d(99vw, 0, 0);
        -o-transform: translate3d(99vw, 0, 0);
        -ms-transform: translate3d(99vw, 0, 0);
        transform: translate3d(99vw, 0, 0);
        -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    }
}

@media (max-width: 991px) {
    .navbar-collapse .navbar-nav .nav-item:after {
        width: calc(100% - 30px);
        content: "";
        display: block;
        height: 1px;
        margin-left: 15px;
        background-color: #cccccc;
        background-color: rgba(204, 204, 204, 0.15);
    }
}

.card .card-header {
    border-radius: 3px;
    padding: 1rem 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -5px;
    margin-bottom: 15px;
    border: 0;
    /*background: linear-gradient(60deg, #aaaaaa, #666666);*/
}

.form-control {
    background: no-repeat center bottom, center calc(100% - 1px), #a9f753;
    background: no-repeat center bottom, center calc(100% - 1px), rgba(169, 247, 83, 0.27);
    background-size: 0 100%, 100% 100%;
    border: 1px solid #146414;
    border: 1px solid rgba(20, 100, 20, 0.6);
    height: 36px;
    transition: background 0 ease-out;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 4px;
    font-size: 14px;
}

.form-control-noline {
    background: no-repeat center bottom, center calc(100% - 1px), #a9f753;
    background: no-repeat center bottom, center calc(100% - 1px), rgba(169, 247, 83, 0.27);
    background-size: 0;
    width: 100%;
    border: 1px solid #146414;
    border: 1px solid rgba(20, 100, 20, 0.6);
    height: 42px;
    transition: background 0 ease-out;
    /*padding-left: 14px;
    padding-right: 14px;*/
    border-radius: 4px;
    font-size: 14px;
}

.form-inline-fullwidth {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: start;
}

.dropdown-menu .dropdown-item, .dropdown-menu li > a {
    position: relative;
    width: auto;
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    color: #333;
    font-weight: normal;
    text-decoration: none;
    font-size: .8125rem;
    border-radius: 0.125rem;
    margin: 0 0.225rem;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
    min-width: 7rem;
    padding: 0.25rem 1.5rem;
    overflow: hidden;
    line-height: 1.428571;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

@media (max-width: 991px) {
    .navbar .dropdown-menu .dropdown-item {
        padding-right: 0.1rem;
        padding-left: 0.1rem;
    }
}

@media (min-width: 768px) {
    .dropdown-menu .dropdown-item, .dropdown-menu li > a {
        padding-right: 0.1rem;
        padding-left: 0.1rem;
    }
}

.noUi-handle {
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    left: -11px;
    top: -15px;
    cursor: pointer;
    border-radius: 100%;
    transition: all 0.2s ease-out;
    border: 1px solid;
    background: #fff;
    box-shadow: 0 2px 2px 0 #000000, 0 3px 1px -2px #000000, 0 1px 5px 0 #000000;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

button.Zebra_DatePicker_Icon.Zebra_DatePicker_Icon_Inside_Right {
    margin: 3px 0 0 0;
}

button.Zebra_DatePicker_Icon {
    background: url("https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/css/bootstrap/icons.png") no-repeat center 6px;
    border: none;
    cursor: pointer;
    display: block;
    height: 32px;
    line-height: 0;
    margin: 3px 0 0 0;
    padding: 6px 6px 6px 6px;
    position: absolute;
    text-indent: -9000px;
    width: 48px;
}

.navbar .navbar-nav .nav-item .nav-link .fa, .navbar .navbar-nav .nav-item .nav-link .material-icons {
    font-size: 1.5rem;
    max-width: 24px;
    margin-top: -1.1em;
}

.btn .material-icons, .btn:not(.btn-just-icon):not(.btn-fab) .fa {
    position: relative;
    display: inline-block;
    top: 0;
    margin-top: -1em;
    margin-bottom: -1em;
    font-size: 1.5rem;
    vertical-align: middle;
}

.notifications-List {
    overflow-y: auto;
    max-height: 80vh;
    margin-left: 1.0em;
}
.notification-item {
    background: #3a2051;
    border-top: solid #6828a9 2px;
    padding-left: 4px;
}
    .notification-item:hover {
        background: #6828a9;
        border-top: solid #8848c9 2px;
    }

.notification-button {
    margin: 0;
    padding: 0;
    width: 95%;
    min-width: 380px;
    text-transform: none;
    
}
.notificationRead {
    opacity: 0.80;
}

.notificationUnread {
    opacity: 1.0;
}

.notificationIconAnimation {
    -webkit-animation: notificationIconAnimation 2s 10 ease-in-out alternate-reverse;
    -moz-animation: notificationIconAnimation 2s 10 ease-in-out alternate-reverse;
    -o-animation: notificationIconAnimation 2s 10 ease-in-out alternate-reverse;
    animation: notificationIconAnimation 2s 10 ease-in-out alternate-reverse;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    /* IE 9 */
    color: greenyellow;
}

@-moz-keyframes notificationIconAnimation {
    /*from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }*/

    0% {
        color: white;
    }

    25% {
        color: greenyellow;
    }

    50% {
        color: orange;
    }

    100% {
        color: white;
    }
}

@-webkit-keyframes notificationIconAnimation {
    /*from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }*/

    0% {
        color: white;
    }

    25% {
        color: greenyellow;
    }

    50% {
        color: orange;
    }

    100% {
        color: white;
    }
}

@keyframes notificationIconAnimation {
    /*from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }*/

    0% {
        color: white;
    }

    25% {
        color: greenyellow;
    }

    50% {
        color: orange;
    }

    100% {
        color: white;
    }
}

.btn-kinaunaselect {
    background: no-repeat bottom,50% calc(100% - 1px);
    transition: background 0 ease-out !important;
    background-size: 0 100%,100% 100%;
    background-color: transparent !important;
    color: inherit !important;
    box-shadow: none !important;
    margin: 0;
}

.fileinput {
    display: inline-block;
    margin-bottom: 9px;
}

    .fileinput .thumbnail {
        display: inline-block;
        margin-bottom: 10px;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
        max-width: 360px;
    }

        .fileinput .thumbnail > img {
            max-height: 100%;
            width: 100%;
        }

.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
    display: none;
}
