@using KinaUna.Data
@using KinaUna.Data.Extensions
@using KinaUnaWeb.Services
@model KinaUnaWeb.Models.BaseItemsViewModel
@inject ILocaleManager LocaleManager
<div class="col-12 col-sm-10 col-md-9 col-lg-7 col-xl-6 col-xxl-4">
    <div id="other-people-element-@Model.CurrentProgeny.Id" class="card-compact bg-todos todo-item m-1" data-other-people-id="@Model.CurrentProgeny.Id" align="left">
        @if (Model.CurrentProgeny.Id == 0)
        {
            <div>@await LocaleManager.GetTranslation("Nothing to see here yet.", PageNames.Notes, Model.LanguageId)</div>
        }
        else
        {
            <div class="row m-0">
                <div class="col-12">
                    <img src="@Model.CurrentProgeny.GetProfilePictureUrl()" class="profile-picture-small"/>
                    <span>@Model.CurrentProgeny.NickName</span>
                    <span>@Model.CurrentProgeny.Email</span>
                    <button>Add to family</button>
                </div>
            </div>
        }
    </div>
</div>