@model KinaUnaWeb.Models.FamilyViewModels.ProgenyViewModel
@section Scripts{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/css/bootstrap/zebra_datepicker.min.css">
    <script src="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/zebra_datepicker.min.js"></script>
    <script src="/lib/material-kit/plugins/jasny-bootstrap.min.js"></script>
}
@{
    ViewData["Title"] = "Tilføj barn";
}
<H3 class="title">Tilføj barn</H3>
<form asp-action="AddProgeny" role="form" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name" class="col-3 control-label">Navn</label>
        <div class="col-9">
            <input asp-for="Name" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NickName" class="col-3 control-label">Visningsnavn</label>
        <div class="col-lg-9">
            <input asp-for="NickName" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="BirthDay" class="col-3 control-label">Fødselsdag</label>
        <div class="col-8 col-xs-7 col-sm-6 col-md-4">
            <div class="input-group date">
                <input id="datetimepicker1" data-format="dd-MMM-yyyy HH:mm" type="text" class="form-control" data-zdp_readonly_element="false" asp-for="BirthDay" value="" />
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').Zebra_DatePicker({
                format: 'd-M-Y H:i',
                open_icon_only: true,
                days: ['søndag', 'mandag', 'tirsdag', 'onsdag', 'torsdag', 'fredag', 'lørdag'],
                months: ['januar', 'februar', 'marts', 'april', 'maj', 'juni', 'juli', 'august', 'september', 'oktober', 'november', 'december'],
                show_select_today: "Idag",
                lang_clear_date: 'Ryd dato'
            });
        });
    </script>
    <div class="form-group">
        <label asp-for="TimeZone" class="col-lg-3 col-sm-3 control-label">Tidszone</label>
        <div class="col-9">
            <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="8" asp-for="TimeZone" asp-items="@Model.TimezoneList"></select>
        </div>
    </div>
    <input asp-for="Admins" class="form-control" value="@Model.Admins" type="hidden" />
    <div class="form-group">
        <label class="col-lg-3 col-sm3 control-label">Profil-billede</label>
        <div class="col-lg-9">
            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                <div class="fileinput-new thumbnail img-raised">
                    <img src="@Model.PictureLink" alt="...">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                <div>
                    <div class="btn btn-primary btn-round btn-file ">
                        <span data-trigger="fileinput" class="fileinput-new">Nyt billede</span>
                        <span class="fileinput-exists">Vælg andet billede</span>
                        <input type="file" asp-for="File" accept="image/*" />
                    </div>
                    <br />
                    <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                        <i class="fa fa-times"></i> Fjern
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="form-group">
            <div class="col-3 control-label"></div>
            <div class="col-9">
                <button class="btn btn-success leavePage" type="submit">Gem</button>
                <a class="btn btn-danger leavePage" asp-controller="AccessManagement" asp-action="Index">Fortryd</a>
            </div>
        </div>
    </div>
</form>
<br />
<br />
<div>
    <div>
        <strong>Navn:</strong> Barnets fulde navn.
        <br />
        <strong>Visningsnavn:</strong> Det navn der vises på sider, lister, menuer, etc.
        <br />
        <strong>Fødselsdag:</strong> Datoen og tidspunktet for fødslen i formatet: dag-måned-år timer(24 timersformat): minutter.
        <br />
        <strong>Tidszone:</strong> Tidszonen for fødselstidspunktet.
        <br />
        <strong>Administratorer:</strong> Email-adresser på dem der fuld adgang til alt for dette barn, adskilt med komma.
    </div>
</div>