@model KinaUnaWeb.Models.FamilyViewModels.ProgenyViewModel
@section Scripts{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/css/bootstrap/zebra_datepicker.min.css">
    <script src="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/zebra_datepicker.min.js"></script>
}
<H3 class="title">Add Child</H3>
<form asp-action="AddProgeny" role="form">

    <div class="form-group">
        <label asp-for="Name" class="col-3 control-label">Name</label>
        <div class="col-9">
            <input asp-for="Name" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NickName" class="col-3 control-label">Display Name</label>
        <div class="col-lg-9">
            <input asp-for="NickName" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="BirthDay" class="col-3 control-label">Birthday</label>
        <div class="col-8 col-xs-7 col-sm-6 col-md-4">
            <div class="input-group date">
                <input id="datetimepicker1" data-format="dd-MMM-yyyy HH:mm" type="text" class="form-control" data-zdp_readonly_element="false" asp-for="BirthDay" value="" />
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').Zebra_DatePicker({
                format: 'd-M-Y H:i',
                open_icon_only: true
            });
        });
    </script>
    <div class="form-group">
        <label asp-for="TimeZone" class="col-lg-3 col-sm-3 control-label">Time Zone</label>
        <div class="col-9">
            <select class="selectpicker form-control-noline" data-style="select-with-transition" data-size="8" asp-for="TimeZone" asp-items="@Model.TimezoneList"></select>
        </div>
    </div>
    <input asp-for="Admins" class="form-control" value="@Model.Admins" type="hidden" />
    <div>
        <div class="form-group">
            <div class="col-3 control-label"></div>
            <div class="col-9">
                <button class="btn btn-success leavePage" type="submit">Save</button>
                <a class="btn btn-danger leavePage" asp-controller="AccessManagement" asp-action="Index">Cancel</a>
            </div>
        </div>
    </div>
</form>
<br />
<br />
<div>
    <div>
        <strong>Name:</strong> The full name of the child.
        <br />
        <strong>Display Name:</strong> The name that will appear on lists, pages, etc.
        <br />
        <strong>Birthday:</strong> The date and time of birth in the format day-month-year Hours(24h): Minutes.
        <br />
        <strong>Time Zone:</strong> The timezone for the birthday entered above.
        <br />
        <strong>Administrators:</strong> A comma separated list of email addresses.
    </div>
</div>