@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.FamilyViewModels.ProgenyViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Add child", PageNames.Progeny, Model.LanguageId);
}

@section Scripts{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/css/bootstrap/zebra_datepicker.min.css">
    <script src="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/zebra_datepicker.min.js"></script>
    <script src="/lib/material-kit/plugins/jasny-bootstrap.min.js"></script>
}

<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="add-item-container">
        <h2 class="col-12">@ViewData["Title"]</h2>
        <div class="space-20"></div>
        <form asp-action="AddProgeny" role="form" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name" class="col-auto control-label">@await LocaleManager.GetTranslation("Name", PageNames.Progeny, Model.LanguageId)</label>
                <div class="col-auto">
                    <input asp-for="Name" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NickName" class="col-auto control-label">@await LocaleManager.GetTranslation("Display name", PageNames.Progeny, Model.LanguageId)</label>
                <div class="col-auto">
                    <input asp-for="NickName" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="BirthDay" class="col-auto control-label">@await LocaleManager.GetTranslation("Birthday", PageNames.Progeny, Model.LanguageId)</label>
                <div class="col-auto">
                    <div class="input-group date">
                        <input id="datetimepicker1" data-format="dd-MMM-yyyy HH:mm" type="text" class="form-control" data-zdp_readonly_element="false" asp-for="BirthDay" value="" />
                    </div>
                </div>
            </div>
            <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').Zebra_DatePicker({
                    format: 'd-M-Y H:i',
                    open_icon_only: true
                });
            });
        </script>
            <div class="form-group">
                <label asp-for="TimeZone" class="col-auto control-label">@await LocaleManager.GetTranslation("Time zone", PageNames.Progeny, Model.LanguageId)</label>
                <div class="col-auto">
                    <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="8" asp-for="TimeZone" asp-items="@Model.TimezoneList"></select>
                </div>
            </div>
            <input asp-for="Admins" class="form-control" value="@Model.Admins" type="hidden" />
            <div class="form-group">
                <label class="col-auto control-label">@await LocaleManager.GetTranslation("Profile picture", PageNames.Progeny, Model.LanguageId)</label>
                <div class="col-auto">
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div class="fileinput-new thumbnail img-raised">
                            <img src="@Model.PictureLink" alt="...">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                        <div>
                            <div class="btn btn-primary btn-round btn-file ">
                                <span data-trigger="fileinput" class="fileinput-new">@await LocaleManager.GetTranslation("New picture", PageNames.Progeny, Model.LanguageId)</span>
                                <span class="fileinput-exists">@await LocaleManager.GetTranslation("Change picture", PageNames.Progeny, Model.LanguageId)</span>
                                <input type="file" asp-for="File" accept="image/*" />
                            </div>
                            <br />
                            <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                                <i class="fa fa-times"></i> @await LocaleManager.GetTranslation("Remove picture", PageNames.Progeny, Model.LanguageId)
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-20"></div> 
            <div class="form-group">
                <div class="col-auto control-label"></div>
                <div class="col-auto">
                    <button class="btn btn-success leavePage" type="submit">@await LocaleManager.GetTranslation("Save", PageNames.AddItem, Model.LanguageId)</button>
                    <a class="btn btn-danger leavePage" asp-controller="Family" asp-action="Index">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</a>
                </div>
            </div>
            
        </form>
        <div class="space-50"></div>
        <div class="col-auto">
            <strong>@await LocaleManager.GetTranslation("Name:", PageNames.Progeny, Model.LanguageId)</strong> @await LocaleManager.GetTranslation("The full name of the child.", PageNames.Progeny, Model.LanguageId)
            <div class="space-20"></div>
            <strong>@await LocaleManager.GetTranslation("Display name:", PageNames.Progeny, Model.LanguageId)</strong> @await LocaleManager.GetTranslation("The name that will appear on pages, lists, etc.", PageNames.Progeny, Model.LanguageId)
            <div class="space-20"></div>
            <strong>@await LocaleManager.GetTranslation("Birthday:", PageNames.Progeny, Model.LanguageId)</strong> @await LocaleManager.GetTranslation("The date and time of birth in the format day-month-year Hours: Minutes.", PageNames.Progeny, Model.LanguageId)
            <div class="space-20"></div>
            <strong>@await LocaleManager.GetTranslation("Time zone:", PageNames.Progeny, Model.LanguageId)</strong> @await LocaleManager.GetTranslation("The timezone for the birthday entered above.", PageNames.Progeny, Model.LanguageId)
            <div class="space-20"></div>
            <strong>@await LocaleManager.GetTranslation("Administrators:", PageNames.Progeny, Model.LanguageId)</strong> @await LocaleManager.GetTranslation("A comma separated list of email addresses.", PageNames.Progeny, Model.LanguageId)
        </div>
    </div>
</div>