@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUna.Data.Models.Progeny
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
    ViewData["Title"] = await LocaleManager.GetTranslation("Remove child", PageNames.Progeny, languageId);
}
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="add-item-container">
        <h2 class="col-12">@ViewData["Title"]</h2>
        <div class="space-20"></div>
        <form asp-action="DeleteProgeny" role="form">
            <div class="col-auto">
                @await LocaleManager.GetTranslation("Are you sure you want to remove this child?", PageNames.Progeny, languageId)
            </div>
            <div class="col-auto">
                <h4>@Model.Name</h4>
            </div>
            <div class="col-auto">
                @await LocaleManager.GetTranslation("Birthday:", PageNames.Progeny, languageId) @Model.BirthDay
            </div>
            <div class="col-auto">
                @await LocaleManager.GetTranslation("All data for this child will be deleted, including pictures, videos, calendar events, vocabulary, skills, friends, notes, measurements, sleep, notes, contacts, and vaccinations.", PageNames.Progeny, languageId)
            </div>
            <div class="space-20"></div>
            <input asp-for="Id" class="form-control" value="@Model.Id!" type="hidden" />
            <div class="col-auto">
                <Button type="submit" class="btn btn-success leavePage">@await LocaleManager.GetTranslation("Yes - remove child", PageNames.Progeny, languageId)</Button><a class="btn btn-danger leavePage" asp-controller="Family" asp-action="Index">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, languageId)</a>
            </div>
        </form>
    </div>
</div>