@model KinaUnaWeb.Models.Progeny
@{
    ViewData["Title"] = "Slet barn: " + Model.Name;
}
<H3 class="title">Slet @Model.NickName</H3>
<form asp-action="DeleteProgeny" role="form">
    <div class="modal-body form-horizontal">
        Er du sikker på at du vil slette @Model.Name?
    </div>
    <div>
        Fødselsdag: @Model.BirthDay
    </div>
    <div>Alle data for dette barn vil blive slettet, inklusiv billeder, videoer, kalender begivenheder, ord, færdigheder, venner, noter, målinger, søvn, kontakter, og vaccinationer. </div>
    <input asp-for="Id" class="form-control" value="@Model.Id" type="hidden" />
    <div><Button type="submit" class="btn btn-success leavePage">Ja - slet</Button><a class="btn btn-danger leavePage" asp-controller="AccessManagement" asp-action="Index">Nej - fortryd</a></div>
</form>
