@model CalendarReminder
<div class="col-12" data-reminder-id="@Model.CalendarReminderId">
    <div class="row">
        <div class="col-12">
            <i class="fas fa-bell mr-2"></i>
            <span class="font-weight-bold">@Model.NotifyTime.ToString("dd MMM yyyy HH:mm")</span>
            <button type="button" class="btn btn-link" data-delete-reminder-id="@Model.CalendarReminderId"><i class="fas fa-trash-alt"></i></button>
        </div>
    </div>
</div>