@using System.Web
@using Syncfusion.EJ2.Schedule
@using Syncfusion.EJ2;
@model KinaUnaWeb.Models.ItemViewModels.CalendarItemViewModel
@{
    ViewData["Title"] = Model.Progeny.NickName + "'s Calendar";
}
@{
    var Modalanimation = new Syncfusion.EJ2.Popups.DialogAnimationSettings { Effect = Syncfusion.EJ2.Popups.DialogEffect.None };
}
@if (Model.IsAdmin)
{
    <div class="btn-group" style="float: right;">
        <a asp-controller="AddItem" asp-action="AddEvent" class="btn btn-success btn-round">
            <i class="fas fa-plus"></i> Add Calendar Item
        </a>
    </div>
}
<h3 class="title">@ViewData["Title"]</h3>
<br />
<br />
<div style="clear: both; height: 90vh; min-height: 600px; max-height: 1180px;">
    <ejs-schedule id="schedule" height="95%" width="100%" locale="en-DK" dateFormat="dd/MMM/yyyy" views="@Model.ViewOptions" cellClick="onCellClick" eventClick="onEventClick" popupOpen="onPopupOpen">
        <e-schedule-eventsettings dataSource="@Model.EventsList">
            <e-eventsettings-fields id="EventId">
                <e-field-subject name="Title"></e-field-subject>
                <e-field-location name="Location"></e-field-location>
                <e-field-description name="Notes"></e-field-description>
                <e-field-isallday name="AllDay"></e-field-isallday>
                <e-field-starttime name="Start"></e-field-starttime>
                <e-field-endtime name="End"></e-field-endtime>
            </e-eventsettings-fields>
        </e-schedule-eventsettings>
    </ejs-schedule>
    <script>
        var selectedEventId = 0;
        loadCultureFiles('en-DK');
        function loadCultureFiles(name) {
            var files = ['ca-gregorian.json', 'numberingSystems.json', 'numbers.json', 'timeZoneNames.json', 'ca-islamic.json'];
            var loader = ej.base.loadCldr;
            var loadCulture = function (prop) {
                var val, ajax;
                if (files[prop] === 'numberingSystems.json') {
                    ajax = new ej.base.Ajax(location.origin + '/../cldr-data/supplemental/' + files[prop], 'GET', false);
                } else {
                    ajax = new ej.base.Ajax(location.origin + '/../cldr-data/main/' + name + '/' + files[prop], 'GET', false);
                }
                ajax.onSuccess = function (value) {
                    val = value;
                };
                ajax.send();
                loader(JSON.parse(val));
            };
            for (var prop = 0; prop < files.length; prop++) {
                loadCulture(prop);
            }
        }

        function onPopupOpen(args) {
            console.log('OnPopUp args.type: ' + args.type);
            if (args.type === 'Editor') {
                args.cancel = true;
                if (selectedEventId > 0) {
                    window.location.href = '/AddItem/EditEvent?itemId=' + selectedEventId;
                }
            }
            if (args.type === 'DeleteAlert') {
                args.cancel = true;
                if (selectedEventId > 0) {
                    window.location.href = '/AddItem/DeleteEvent?itemId=' + selectedEventId;
                }
            }
        }

        function onEventClick(args) {
            var scheduleObj = document.querySelector('.e-schedule').ej2_instances[0];
            var event = scheduleObj.getEventDetails(args.element);
            selectedEventId = event.EventId;
        }

        function onCellClick(args) {
            args.cancel = true;
        }
    </script>
</div>