<div class="container">
    <br/>
    <div class="row">
        <br/>
        <div class="col-sm-10">
            <br/>
            <h3>
                Welcome to KinaUna Authentication Server
                @if (User.Identity is { IsAuthenticated: true })
                {
                    <span>@User.Identity.Name</span>
                }
            </h3>
        </div>
        <br/>
    </div>
    <br/>
</div>
<br/>