@page "/Timeline"
<PageTitle>@pageTitle</PageTitle>
<Div Margin="Margin.Is3.FromTop.Is2.FromBottom">
    <img src="/images/KinaUnaLogo_246x80.png" />
</Div>
@code {
    public string pageTitle = "Timeline";
}
