@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.FamilyViewModels.UserAccessViewModel
@inject ILocaleManager LocaleManager
@{
    string title = await LocaleManager.GetTranslation("Remove my access", PageNames.AccessManagement, Model.LanguageId);
}
<div class="ml-auto mr-auto mt-auto mb-auto item-details-content-wrapper">
    <div class="timeline-card-body modal-content item-details-content">
        <div class="add-item-container">
            <h3 class="col-12">@title</h3>
            <button type="button" class="btn btn-link item-details-close-button"><span>×</span></button>
            <div class="space-20"></div>
            <form id="save-item-form" asp-action="DeleteAccess" role="form">
                <div class="col-auto">
                    @await LocaleManager.GetTranslation("Are you sure you want to remove access to", PageNames.AccessManagement, Model.LanguageId) @Model.ProgenyName ?
                </div>
                <div class="space-20"></div>
                <input asp-for="AccessId" class="form-control" value="@Model.AccessId" type="hidden"/>
                <input asp-for="CurrentProgenyId" class="form-control" value="@Model.CurrentProgenyId" type="hidden"/>
                <div class="col-auto">
                    <Button class="btn btn-success">@await LocaleManager.GetTranslation("Yes", PageNames.AccessManagement, Model.LanguageId)</Button>
                    <a class="btn btn-danger item-details-cancel-button">@await LocaleManager.GetTranslation("Cancel", PageNames.AccessManagement, Model.LanguageId)</a>
                </div>
            </form>
        </div>
    </div>
</div>