@using KinaUna.Data.Models.AccessManagement
@{
    TimelineItemPermission permission = new TimelineItemPermission();
}
<div>
    View Permissions:
</div>
<div>
    Edit Permissions:
</div>
<div>

</div>
