
@{
    ViewData["Title"] = "AccessDenied";
}

<h2>Access Denied</h2>

@{
    if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <div> You are not authorized to view this content.</div>
    }
    else{
        <div>Log in to get access to more content.</div>
    }
}


