@using KinaUnaWeb.Services
@using KinaUna.Data
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
    ViewData["Title"] = await LocaleManager.GetTranslation("Access denied", PageNames.Account, languageId);
}
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="add-item-container">
        <h2 class="col-12">@ViewData["Title"]</h2>
        <div class="space-20"></div>
        @{
            if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <div class="col-auto">@await LocaleManager.GetTranslation("You are not authorized to view this content.", PageNames.Account, languageId) </div>
            }
            else
            {
                <div class="col-auto">@await LocaleManager.GetTranslation("Log in to get access to more content.", PageNames.Account, languageId)</div>
            }
        }
    </div>
</div>