@model KinaUnaWeb.Models.ItemViewModels.UserInfoViewModel
@{
    ViewData["Title"] = "Email ändern";
}

<h2>Email ändern</h2>

<div class="row">
    <div class="col-md-10">
        Um Ihre Adresse zu ändern, müssen wir bestätigen, dass Sie der Eigentümer sind.<br />
        Bis es bestätigt ist, wird Ihr Zugang eingeschränkt.<br />
        Wenn es bestätigt ist, wird Ihr Zugang wie vorher.<br />
        Klicken Sie auf die Schaltfläche unten, um fortzufahren.<br />
        <form id="loginForm" action="@Model.ChangeLink" method="post" target="loginFrame" style="float: right;">
            <button id="verifyEmailButton" type="submit" class="btn btn-success" data-toggle="modal" data-target="#loginModal"><span class="fas fa-sign-in-alt"></span>Email ändern</button>
        </form>
    </div>
</div>