@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.UserInfoViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Delete account", PageNames.Account, Model.LanguageId);
}
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="add-item-container">
        <h2 class="col-12">@ViewData["Title"]</h2>
        <div class="space-20"></div>
        <form method="post" enctype="multipart/form-data">
            <h2 class="col-auto">@await LocaleManager.GetTranslation("Are you sure you want to delete your account?", PageNames.Account, Model.LanguageId)</h2>
            <div class="form-group">
                <label class="col-auto">@await LocaleManager.GetTranslation("Username", PageNames.Account, Model.LanguageId)</label>
                <div class="col-auto">
                    <input asp-for="UserName" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-auto">@await LocaleManager.GetTranslation("First Name", PageNames.Account, Model.LanguageId)</label>
                <div class="col-auto">
                    <input asp-for="FirstName" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-auto">@await LocaleManager.GetTranslation("Middle Name", PageNames.Account, Model.LanguageId)</label>
                <div class="col-auto">
                    <input asp-for="MiddleName" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-auto">@await LocaleManager.GetTranslation("Last Name", PageNames.Account, Model.LanguageId)</label>
                <div class="col-auto">
                    <input asp-for="LastName" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="col-auto">@await LocaleManager.GetTranslation("Email", PageNames.Account, Model.LanguageId)</label>
                <div class="col-auto">
                    <div class="input-group">
                        <input asp-for="UserEmail" class="form-control" readonly="readonly" />
                        <div class="input-group-append" aria-hidden="true">
                            <div class="input-group-text">
                                <i class="fas fa-check text-success"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-20"></div>
            <div class="col-auto">
                <button type="submit" class="btn btn-success leavePage">@await LocaleManager.GetTranslation("Delete my account", PageNames.Account, Model.LanguageId)</button>
            </div>
        </form>
    </div>
</div>