@model PushDevices
@section Scripts
    {
    <script src="@Url.Content("~/js/RemoveDevice.js")"></script>
}

@{
    ViewData["Title"] = "Slå push-meddelelser fra";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="alert alert-danger" style="display: none;">
        <strong>Fejl:</strong>
        <ul id="errorMessage"></ul>
    </div>

    <div class="col-md-4">
        <form asp-controller="PushDevices" asp-action="RemovePushDevice" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="width: 500px;">
                <label asp-for="Name" class="control-label">Bruger ID</label>
                <input asp-for="Name" class="form-control" value="user" readonly="readonly"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="well" style="width: 500px;">
                <h4>Web Push info</h4>
                <span style="font-size: 12px;"></span>
                <hr />
                <div class="form-group">
                    <label asp-for="PushEndpoint" class="control-label"></label>
                    <input asp-for="PushEndpoint" class="form-control" readonly required />
                    <span asp-validation-for="PushEndpoint" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PushP256DH" class="control-label"></label>
                    <input asp-for="PushP256DH" class="form-control" readonly required />
                    <span asp-validation-for="PushP256DH" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PushAuth" class="control-label"></label>
                    <input asp-for="PushAuth" class="form-control" readonly required />
                    <span asp-validation-for="PushAuth" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Slå meddelelser fra" class="btn btn-warning leavePage" onclick="unsubscribe()" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="leavePage" asp-action="MyAccount">Tilbage til Min Konto</a>
</div>

<script>
    //Vapid public key.
    var applicationServerPublicKey = '@ViewBag.PublicKey';
</script>
