@using KinaUnaWeb.Services
@using KinaUna.Data
@model PushDevices
@section Scripts
    {
    <script src="@Url.Content("~/js/CreateDevice.js")"></script>
}
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
    ViewData["Title"] = await LocaleManager.GetTranslation("Enable Push Notifications", PageNames.Account, languageId);
}
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="add-item-container">
        <h2 class="col-12">@ViewData["Title"]</h2>
        <div class="space-20"></div>
        <form asp-controller="PushDevices" asp-action="CreateUser">
            <div class="form-group">
                <div class="col-auto alert alert-danger" style="display: none;">
                    <strong>Error:</strong>
                    <ul id="errorMessage"></ul>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="col-auto control-label">@await LocaleManager.GetTranslation("User ID", PageNames.Account, languageId)</label>
                <div class="col-auto">
                    <input asp-for="Name" class="col-auto form-control" value="user" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <h4 class="col-auto">@await LocaleManager.GetTranslation("Web Push details", PageNames.Account, languageId)</h4>
                <div class="col-auto" style="font-size: 12px;">@await LocaleManager.GetTranslation("These values will automatically become populated once correct permissions are given by the browser.", PageNames.Account, languageId)</div>
            </div>
            <div class="form-group">
                <label asp-for="PushEndpoint" class="col-auto control-label"></label>
                <div class="col-auto">
                    <input asp-for="PushEndpoint" class="form-control" readonly required />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PushP256DH" class="col-auto control-label"></label>
                <div class="col-auto">
                    <input asp-for="PushP256DH" class="form-control" readonly required />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PushAuth" class="col-auto control-label"></label>
                <div class="col-auto">
                    <input asp-for="PushAuth" class="form-control" readonly required />
                </div>
            </div>
            <div class="space-20"></div>
            <div class="form-group">
                <div class="col-auto">
                    <input type="submit" value="@await LocaleManager.GetTranslation("Enable Push Notifications", PageNames.Account, languageId)" class="btn btn-success leave-page" />
                </div>
            </div>
        </form>
        <div class="space-20"></div>
        <div class="col-12">
            <a class="leave-page" asp-action="MyAccount">@await LocaleManager.GetTranslation("Back to My Account", PageNames.Account, languageId)</a>
        </div>
    </div>
</div>
<script>
    //Vapid public key.
    var applicationServerPublicKey = '@ViewBag.PublicKey';
</script>