@using KinaUnaWeb.Models
@model KinaUnaWeb.Models.Note
<H4>Slet note: @Model.Title</H4>
<form asp-action="DeleteNote" role="form" method="post">
    <div>
        Er du sikker på at du vil slette @Model.Title?
    </div>
    <br/>
    <div>
        Indhold: @Html.Raw(Model.Content)
    </div>
    <br />
    <input asp-for="NoteId" class="form-control" value="@Model.NoteId" type="hidden" />
    <div><Button type="submit" class="btn btn-success leavePage">Ja - slet</Button><a class="btn btn-danger leavePage" asp-controller="Notes" asp-action="Index">Nej - fortryd</a></div>
</form>