@model KinaUnaWeb.Models.Skill
<H4>Slet færdighed: @Model.Name</H4>
<form asp-action="DeleteSkill" role="form" method="post">
    <div>
        Er du sikker på at du vil slette @Model.Name?
    </div>
    <br/>
    <div>
        Beskrivelse: @Model.Description
    </div>
    <br />
    <input asp-for="SkillId" class="form-control" value="@Model.SkillId" type="hidden" />
    <div><Button type="submit" class="btn btn-success leavePage">Ja - slet</Button><a class="btn btn-danger leavePage" asp-controller="Skills" asp-action="Index">Nej - fortryd</a></div>
</form>