@model KinaUna.Data.Models.VocabularyItem
<H4>Slet ord: @Model.Word</H4>
<form asp-action="DeleteVocabulary" role="form" method="post">
    <div>
        Er du sikker på at du vil slette @Model.Word?
    </div>
    <br/>
    <div>
        Beskrivelse: @Model.Description
    </div>
    <br/>
    <input asp-for="WordId" class="form-control" value="@Model.WordId" type="hidden" />
    <div><Button type="submit" class="btn btn-success leavePage">Ja - slet</Button><a class="btn btn-danger leavePage" asp-controller="Vocabulary" asp-action="Index">Nej - fortryd</a></div>
</form>
