@section Scripts{
    
}
@{
    ViewData["Title"] = "Add Item";
}
<div style="float: none; clear: both">
    <br />
    <div style="float: left; margin-right: 25px;">
        <div style="margin-top: 2px; margin-bottom: 3px;">
            <div class="btn-group">
                <a asp-controller="AddItem" asp-action="AddNote" class="btn btn-primary leavePage">
                    <i class="fas fa-plus"></i> Note
                </a>
            </div>
        </div>
        <div style="margin-top: 2px; margin-bottom: 3px;">
            <div class="btn-group">
                <a asp-controller="AddItem" asp-action="AddEvent" class="btn btn-info leavePage">
                    <i class="fas fa-plus"></i> Calendar Item
                </a>
            </div>
        </div>
        <div style="margin-top: 2px; margin-bottom: 3px">
            <div class="btn-group">
                <a asp-controller="AddItem" asp-action="AddPicture" class="btn btn-primary leavePage">
                    <i class="fas fa-plus"></i> Picture
                </a>
            </div>
        </div>
        <div style="margin-top: 2px; margin-bottom: 3px">
            <div class="btn-group">
                <a asp-controller="AddItem" asp-action="AddVideo" class="btn btn-primary leavePage">
                    <i class="fas fa-plus"></i> Add Video
                </a>
            </div>
        </div>
        <div style="margin-top: 2px; margin-bottom: 3px">
            <div class="btn-group">
                <a asp-controller="AddItem" asp-action="AddVocabulary" class="btn btn-primary leavePage">
                    <i class="fas fa-plus"></i> Word
                </a>
            </div>
        </div>
        <div style="margin-top: 2px; margin-bottom: 3px">
            <div class="btn-group">
                <a asp-controller="AddItem" asp-action="AddSkill" class="btn btn-primary leavePage">
                    <i class="fas fa-plus"></i> Skill
                </a>
            </div>
        </div>
        <div style="margin-top: 2px; margin-bottom: 3px">
            <div class="btn-group">
                <a asp-controller="AddItem" asp-action="AddFriend" class="btn btn-primary leavePage">
                    <i class="fas fa-plus"></i> Friend
                </a>
            </div>
        </div>
        <div style="margin-top: 2px; margin-bottom: 3px">
            <div class="btn-group">
                <a asp-controller="AddItem" asp-action="AddMeasurement" class="btn btn-primary leavePage">
                    <i class="fas fa-plus"></i> Measurement
                </a>
            </div>
        </div>
        <div style="margin-top: 2px; margin-bottom: 3px">
            <div class="btn-group">
                <a asp-controller="AddItem" asp-action="AddContact" class="btn btn-primary leavePage">
                    <i class="fas fa-plus"></i> Contact
                </a>
            </div>
        </div>
        <div style="margin-top: 2px; margin-bottom: 3px">
            <div class="btn-group">
                <a asp-controller="AddItem" asp-action="AddVaccination" class="btn btn-primary leavePage">
                    <i class="fas fa-plus"></i> Vaccination
                </a>
            </div>
        </div>
    </div>
    <div style="float: left;">
        <div style="margin-top: 2px; margin-bottom: 3px;">
            <div class="btn-group">
                <a asp-controller="AddItem" asp-action="AddSleep" class="btn btn-success leavePage">
                    <i class="fas fa-plus"></i> Sleep
                </a>
            </div>
        </div>
        <div style="margin-top: 2px; margin-bottom: 3px;">
            <div class="btn-group">
                <a asp-controller="AddItem" asp-action="AddLocation" class="btn btn-default leavePage">
                    <i class="fas fa-plus"></i> Location
                </a>
            </div>
        </div>
        <div style="margin-top: 2px; margin-bottom: 3px;">
            <div class="btn-group">
                <a asp-controller="AccessManagement" asp-action="AddAccess" asp-route-progenyId="0" class="btn btn-warning leavePage">
                    <i class="fas fa-plus"></i> User
                </a>
            </div>
        </div>
        @*<div style="margin-top: 2px; margin-bottom: 3px;">
            <div class="btn-group">
                <a asp-controller="AddItem" asp-action="Index" class="btn btn-success">
                    <i class="glyphicon glyphicon-plus"></i> Add a Meal
                </a>
            </div>
        </div>*@
    </div>
</div>
<div style="float: none; clear: both">
    <br />
</div>