@using KinaUnaWeb.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using KinaUna.Data
@model KinaUnaWeb.Models.HomeViewModels.AboutViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Add item", PageNames.AddItem, Model.LanguageId);
}
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="add-item-container">
        <h2 class="col-12">@ViewData["Title"]</h2>
        <div class="space-20"></div>
        <div class="row ml-auto mr-auto">
            <div class="col">
                <a asp-controller="Notes" asp-action="AddNote" class="btn btn-add-note leavePage">
                    <div class="space-10"></div>
                    <i class="material-icons" style="font-size: 42px;">note</i>
                    <div class="space-10"></div>
                    @await LocaleManager.GetTranslation("Note", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
            <div class="col">
                <a asp-controller="Calendar" asp-action="AddEvent" class="btn btn-add-calendar leavePage">
                    <div class="space-10"></div>
                    <i class="material-icons" style="font-size: 42px;">event_note</i>
                    <div class="space-10"></div>
                    @await LocaleManager.GetTranslation("Calendar item", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
            <div class="col">
                <a asp-controller="Sleep" asp-action="AddSleep" class="btn btn-add-sleep leavePage">
                    <div class="space-10"></div>
                    <i class="material-icons" style="font-size: 42px;">hotel</i>
                    <div class="space-10"></div>
                    @await LocaleManager.GetTranslation("Sleep", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
            <div class="col">
                <a asp-controller="Pictures" asp-action="AddPicture" class="btn btn-add-photo leavePage">
                    <div class="space-10"></div>
                    <i class="material-icons" style="font-size: 42px;">photo_library</i>
                    <div class="space-10"></div>
                    @await LocaleManager.GetTranslation("Photo", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
            <div class="col">
                <a asp-controller="Videos" asp-action="AddVideo" class="btn btn-add-video leavePage">
                    <div class="space-10"></div>
                    <i class="material-icons" style="font-size: 42px;">videocam</i>
                    <div class="space-10"></div>
                    @await LocaleManager.GetTranslation("Video", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
            <div class="col">
                <a asp-controller="Vocabulary" asp-action="AddVocabulary" class="btn btn-add-word leavePage">
                    <div class="space-10"></div>
                    <i class="material-icons" style="font-size: 42px;">forum</i>
                    <div class="space-10"></div>
                    @await LocaleManager.GetTranslation("Word", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
            <div class="col">
                <a asp-controller="Skills" asp-action="AddSkill" class="btn btn-add-skill leavePage">
                    <div class="space-10"></div>
                    <i class="material-icons" style="font-size: 42px;">school</i>
                    <div class="space-10"></div>
                    @await LocaleManager.GetTranslation("Skill", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
            <div class="col">
                <a asp-controller="Friends" asp-action="AddFriend" class="btn btn-add-friend leavePage">
                    <div class="space-10"></div>
                    <i class="material-icons" style="font-size: 42px;">face</i>
                    <div class="space-10"></div>
                    @await LocaleManager.GetTranslation("Friend", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
            <div class="col">
                <a asp-controller="Friends" asp-action="AddFriend" class="btn btn-add-friend leavePage">
                    <div class="space-10"></div>
                    <i class="material-icons" style="font-size: 42px;">face</i>
                    <div class="space-10"></div>
                    @await LocaleManager.GetTranslation("Friend", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
            <div class="col">
                <a asp-controller="Measurements" asp-action="AddMeasurement" class="btn btn-add-measurement leavePage">
                    <div class="space-10"></div>
                    <i class="material-icons" style="font-size: 42px;">straighten</i>
                    <div class="space-10"></div>
                    @await LocaleManager.GetTranslation("Measurement", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
            <div class="col">
                <a asp-controller="Contacts" asp-action="AddContact" class="btn btn-add-contact leavePage">
                    <div class="space-10"></div>
                    <i class="material-icons" style="font-size: 42px;">contact_phone</i>
                    <div class="space-10"></div>
                    @await LocaleManager.GetTranslation("Contact", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
            <div class="col">
                <a asp-controller="Vaccinations" asp-action="AddVaccination" class="btn btn-add-vaccination leavePage">
                    <div class="space-10"></div>
                    <i class="material-icons" style="font-size: 42px;">local_pharmacy</i>
                    <div class="space-10"></div>
                    @await LocaleManager.GetTranslation("Vaccination", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
            <div class="col">
                <a asp-controller="Locations" asp-action="AddLocation" class="btn btn-add-location leavePage">
                    <div class="space-10"></div>
                    <i class="material-icons" style="font-size: 42px;">person_pin</i>
                    <div class="space-10"></div>
                    @await LocaleManager.GetTranslation("Location", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
            <div class="col">
                <a asp-controller="AccessManagement" asp-action="AddAccess" asp-route-progenyId="0" class="btn btn-add-user leavePage">
                    <div class="space-10"></div>
                    <i class="material-icons" style="font-size: 42px;">person</i>
                    <div class="space-10"></div>
                    @await LocaleManager.GetTranslation("User", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
        </div>
    </div>
    <div style="float: none; clear: both">
        <div class="space-20"></div>
    </div>
</div>
