@using KinaUnaWeb.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using KinaUna.Data
@model KinaUnaWeb.Models.HomeViewModels.AboutViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Add item", PageNames.AddItem, Model.LanguageId);
}
<div style="float: none; clear: both">
    <br />
    <div style="float: left; margin-right: 25px;">
        <div style="margin-top: 2px; margin-bottom: 3px;">
            <div class="btn-group">
                <a asp-controller="Notes" asp-action="AddNote" class="btn btn-primary leavePage">
                    <i class="fas fa-plus"></i> @await LocaleManager.GetTranslation("Note", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
        </div>
        <div style="margin-top: 2px; margin-bottom: 3px;">
            <div class="btn-group">
                <a asp-controller="Calendar" asp-action="AddEvent" class="btn btn-info leavePage">
                    <i class="fas fa-plus"></i> @await LocaleManager.GetTranslation("Calendar item", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
        </div>
        <div style="margin-top: 2px; margin-bottom: 3px">
            <div class="btn-group">
                <a asp-controller="Pictures" asp-action="AddPicture" class="btn btn-primary leavePage">
                    <i class="fas fa-plus"></i> @await LocaleManager.GetTranslation("Photo", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
        </div>
        <div style="margin-top: 2px; margin-bottom: 3px">
            <div class="btn-group">
                <a asp-controller="Videos" asp-action="AddVideo" class="btn btn-primary leavePage">
                    <i class="fas fa-plus"></i> @await LocaleManager.GetTranslation("Video", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
        </div>
        <div style="margin-top: 2px; margin-bottom: 3px">
            <div class="btn-group">
                <a asp-controller="Vocabulary" asp-action="AddVocabulary" class="btn btn-primary leavePage">
                    <i class="fas fa-plus"></i> @await LocaleManager.GetTranslation("Word", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
        </div>
        <div style="margin-top: 2px; margin-bottom: 3px">
            <div class="btn-group">
                <a asp-controller="Skills" asp-action="AddSkill" class="btn btn-primary leavePage">
                    <i class="fas fa-plus"></i> @await LocaleManager.GetTranslation("Skill", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
        </div>
        <div style="margin-top: 2px; margin-bottom: 3px">
            <div class="btn-group">
                <a asp-controller="Friends" asp-action="AddFriend" class="btn btn-primary leavePage">
                    <i class="fas fa-plus"></i> @await LocaleManager.GetTranslation("Friend", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
        </div>
        <div style="margin-top: 2px; margin-bottom: 3px">
            <div class="btn-group">
                <a asp-controller="Measurements" asp-action="AddMeasurement" class="btn btn-primary leavePage">
                    <i class="fas fa-plus"></i> @await LocaleManager.GetTranslation("Measurement", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
        </div>
        <div style="margin-top: 2px; margin-bottom: 3px">
            <div class="btn-group">
                <a asp-controller="Contacts" asp-action="AddContact" class="btn btn-primary leavePage">
                    <i class="fas fa-plus"></i> @await LocaleManager.GetTranslation("Contact", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
        </div>
        <div style="margin-top: 2px; margin-bottom: 3px">
            <div class="btn-group">
                <a asp-controller="Vaccinations" asp-action="AddVaccination" class="btn btn-primary leavePage">
                    <i class="fas fa-plus"></i> @await LocaleManager.GetTranslation("Vaccination", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
        </div>
    </div>
    <div style="float: left;">
        <div style="margin-top: 2px; margin-bottom: 3px;">
            <div class="btn-group">
                <a asp-controller="Sleep" asp-action="AddSleep" class="btn btn-success leavePage">
                    <i class="fas fa-plus"></i> @await LocaleManager.GetTranslation("Sleep", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
        </div>
        <div style="margin-top: 2px; margin-bottom: 3px;">
            <div class="btn-group">
                <a asp-controller="Locations" asp-action="AddLocation" class="btn btn-default leavePage">
                    <i class="fas fa-plus"></i> @await LocaleManager.GetTranslation("Location", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
        </div>
        <div style="margin-top: 2px; margin-bottom: 3px;">
            <div class="btn-group">
                <a asp-controller="AccessManagement" asp-action="AddAccess" asp-route-progenyId="0" class="btn btn-warning leavePage">
                    <i class="fas fa-plus"></i> @await LocaleManager.GetTranslation("User", PageNames.AddItem, Model.LanguageId)
                </a>
            </div>
        </div>
    </div>
</div>
<div style="float: none; clear: both">
    <br />
</div>