@model KinaUnaWeb.Models.ItemViewModels.UploadPictureViewModel
<br />
@{ int fileCounter = 0;}
@foreach (var file in Model.FileNames)
{
    <div style="margin: 20px;">
        <H4>Foto uploaded.</H4>
        <div><img width="80%" src="@Model.FileLinks[fileCounter]" /></div>
        @{ fileCounter++; }
    </div>
}
<br />
<div><a class="leavePage" asp-controller="AddItem" asp-action="AddPicture">Tilbage til tilføj foto</a></div>
<br />
<div><a class="leavePage" asp-controller="Pictures" asp-action="Index" asp-route-childId="@Model.ProgenyId">Til foto album</a></div>
