@model KinaUnaWeb.Models.Video
<br />
<div style="margin: 20px;">
    <H4>The video has been added.</H4>
    <div><img width="100%" src="@Model.ThumbLink"/></div>
</div>

<br />
<div><a class="leavePage" asp-controller="AddItem" asp-action="AddVideo">Return to Add Video</a></div>
<br />
<div><a class="leavePage" asp-controller="Videos" asp-action="Index" asp-route-childId="@Model.ProgenyId">Return to Video Gallery</a></div>
