@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.SkillViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Delete skill", PageNames.Skills, Model.LanguageId);
}
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="add-item-container">
        <h2 class="col-12">@ViewData["Title"]</h2>
        <div class="space-20"></div>
        <form asp-action="DeleteSkill" role="form" method="post">
            <div class="col-auto">
                @await LocaleManager.GetTranslation("Are you sure you want to delete this skill?", PageNames.Skills, Model.LanguageId)
            </div>
            <div class="col-auto">
                <h4>@Model.SkillItem.Name</h4>
            </div>
            <div class="space-20"></div>
            <div class="col-auto">
                @await LocaleManager.GetTranslation("Description:", PageNames.Skills, Model.LanguageId) @Model.SkillItem.Description
            </div>
            <div class="space-20"></div>
            <input asp-for="SkillItem.SkillId" class="form-control" value="@Model.SkillItem.SkillId" type="hidden" />
            <div class="col-auto">
                <Button type="submit" class="btn btn-success leavePage">@await LocaleManager.GetTranslation("Yes - delete this skill", PageNames.Skills, Model.LanguageId)</Button>
                <a class="btn btn-danger leavePage" asp-controller="Skills" asp-action="Index">@await LocaleManager.GetTranslation("Cancel:", PageNames.AddItem, Model.LanguageId)</a>
            </div>
        </form>
    </div>
</div>