@using KinaUnaWeb.Models.ItemViewModels
@using KinaUnaWeb.Services
@using KinaUna.Data
@model VocabularyListViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Vocabulary", PageNames.Vocabulary, Model.LanguageId);
}
@section Scripts{
    <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.13.4/sorting/datetime-moment.js"></script>
    <script src="~/lib/chart.js/dist/Chart.js"></script>
}

<div id="current-moment-locale-div" class="d-none" data-current-locale="@Model.LanguageIdString"></div>
<div id="popup-vocabulary-id-div" class="d-none" data-popup-vocabulary-id="@Model.VocabularyId"></div>
<div class="ml-xl-auto mr-xl-auto col-12 col-xxl-11 col-xxxl-10">
    <div id="progeny-selector-container"></div>
    <div class="space-20"></div>
    <div id="vocabulary-container-div"></div>
</div>
<script src="/js/vocabulary/vocabulary-index-v11.js" type="module" asp-append-version="true"></script>