@using KinaUnaWeb.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using KinaUna.Data
@model VocabularyItem
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
}
<a class="leavePage" asp-controller="Vocabulary" asp-action="Index">
    <div class="bg-primary timeline-card">
        <div class="timeline-card-body bg-vocabulary">
            <div class="row">
                <div class="col-auto">
                    <span class="latest-posts-icon"><i class="material-icons">hotel</i></span>
                </div>
                <div class="col">
                    <div class="latest-posts-title">
                        <strong>
                            @Model.Word
                        </strong>
                    </div>
                    <div class="latest-posts-text text-white-50">
                        @if (!string.IsNullOrEmpty(Model.Language))
                        {
                            <div>@await LocaleManager.GetTranslation("Language:", PageNames.Vocabulary, languageId) @Model.Language</div>
                        }
                        @if (Model.Date.HasValue)
                        {
                            <div>@await LocaleManager.GetTranslation("Date:", PageNames.Vocabulary, languageId) @Model.Date.Value.ToString("dd-MMM-yyyy HH:mm")</div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</a>