@using KinaUnaWeb.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using KinaUna.Data
@model Vaccination
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
}
<a class="leavePage" asp-controller="Vaccinations" asp-action="Index">
    <div class="bg-primary timeline-card">
        <div class="timeline-card-body bg-vaccination">
            <div class="row">
                <div class="col-auto">
                    <span class="latest-posts-icon"><i class="material-icons">local_pharmacy</i></span>
                </div>
                <div class="col">
                    <div class="latest-posts-title">
                        <strong>
                            @Model.VaccinationName
                        </strong>
                    </div>
                    <div class="latest-posts-text text-white">@await LocaleManager.GetTranslation("Date:", PageNames.Vaccinations, languageId) @Model.VaccinationDate.ToString("dd-MMM-yyyy")</div>
                </div>
            </div>
        </div>
    </div>
</a>