@using KinaUnaWeb.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using KinaUna.Data
@* ReSharper disable once RedundantUsingDirective *@
@using System.Web;
@model Note
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
}
<a class="leavePage" asp-controller="Notes" asp-action="Index">
    <div class="bg-primary timeline-card">
        <div class="timeline-card-body bg-notes">
            <div class="row">
                <div class="col-auto">
                    <span class="latest-posts-icon"><i class="material-icons">note</i></span>
                </div>
                <div class="col">
                    <div class="latest-posts-title">
                        <strong>
                            @Model.Title
                        </strong>
                    </div>
                    <div class="latest-posts-text text-white-50">
                        <div style="font-size: 12px; overflow-x: hidden; margin-bottom: 8px;" class="rounded text-dark card-body bg-white">@Html.Raw(HttpUtility.HtmlDecode(Model.Content))</div>
                        @if (!string.IsNullOrEmpty(Model.Category))
                        {
                            <div>@await LocaleManager.GetTranslation("Category:", PageNames.Notes, languageId): @Model.Category</div>
                        }
                        <div>@await LocaleManager.GetTranslation("Date & time:", PageNames.Notes, languageId) @Model.CreatedDate.ToString("dd-MMM-yyyy HH:mm")</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</a>