@using Microsoft.AspNetCore.Mvc.TagHelpers
@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.NoteViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Delete note", PageNames.Notes, Model.LanguageId);
}
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="add-item-container">
        <h2 class="col-12">@ViewData["Title"]</h2>
        <div class="space-20"></div>
        <form asp-action="DeleteNote" role="form" method="post">
            <div class="col-auto">
                @await LocaleManager.GetTranslation("Are you sure you want to delete this note?", PageNames.Notes, Model.LanguageId) 
            </div>
            <div class="col-auto">
                <h4>@Model.NoteItem.Title</h4>
                
            </div>
            <div class="space-20"></div>
            <div class="col-auto">
                @await LocaleManager.GetTranslation("Content:", PageNames.Notes, Model.LanguageId) @Html.Raw(Model.NoteItem.Content)
            </div>
            <div class="space-20"></div>
            <input asp-for="NoteItem.NoteId" class="form-control" value="@Model.NoteItem.NoteId" type="hidden" />
            <div class="col-auto">
                <Button type="submit" class="btn btn-success leavePage">@await LocaleManager.GetTranslation("Yes - delete this note", PageNames.Notes, Model.LanguageId)</Button>
                <a class="btn btn-danger leavePage" asp-controller="Notes" asp-action="Index">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</a>
            </div>
        </form>
    </div>
</div>