@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.NotesListViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = Model.CurrentProgeny.NickName + " - " + await LocaleManager.GetTranslation("Notes", PageNames.Notes, Model.LanguageId);
    string pageParameters = Json.Serialize(Model.NotesPageParameters).ToString();
    string pageString = await LocaleManager.GetTranslation("Page:", PageNames.Notes, Model.LanguageId);
    string previousPageString = await LocaleManager.GetTranslation("Previous page", PageNames.Notes, Model.LanguageId);
    string nextPageString = await LocaleManager.GetTranslation("Next page", PageNames.Notes, Model.LanguageId);
}
<div id="notes-index-page-parameters" class="d-none" data-notes-index-page-parameters='@pageParameters'></div>
<div class="ml-xl-auto mr-xl-auto col-12 col-xxl-11 col-xxxl-10 col-w1900-8 col-w2500-7">
    <h2>@ViewData["Title"]</h2>
    <div class="row align-items-center">
        <div class="col text-left">
            <button class="btn btn-success d-none mr-auto" id="headerPreviousNoteItemsPageButton">
                <i class="material-icons icon-top-4">chevron_left</i>
                <span class="d-none d-md-inline"> @previousPageString</span>
            </button>
        </div>
        <div class="col">
            <div class="text-center font-weight-bold">
                <span class="d-none d-md-inline">@pageString </span><span id="headerPageNumberSpan"></span><span> / </span><span id="headerPageTotalSpan"></span>
            </div>
        </div>
        <div class="col text-right">
            <button class="btn btn-success d-none" id="headerNextNoteItemsPageButton">
                <span class="d-none d-md-inline">@nextPageString </span>
                <i class="material-icons icon-top-4">chevron_right</i>
            </button>
        </div>
    </div>
    <div class="space-20"></div>
    <div id="notesListDiv" class="row">
    </div>
    <div class="row align-items-center">
        <div class="col text-left">
            <button class="btn btn-success d-none mr-auto" id="previousNoteItemsPageButton">
                <i class="material-icons icon-top-4">chevron_left</i>
                <span class="d-none d-md-inline"> @previousPageString</span>
            </button>
        </div>
        <div class="col">
            <div class="text-center font-weight-bold">
                <span class="d-none d-md-inline">@pageString </span><span id="pageNumberSpan"></span><span> / </span><span id="pageTotalSpan"></span>
            </div>
        </div>
        <div class="col text-right">
            <button class="btn btn-success d-none" id="nextNoteItemsPageButton">
                <span class="d-none d-md-inline">@nextPageString </span>
                <i class="material-icons icon-top-4">chevron_right</i>
            </button>
        </div>
    </div>
</div>
<div class="d-none">
    <div id="page-settings-content-div" class="bg-dark page-settings-content">
        <div class="row">
            <div class="col-auto ml-auto">
                <button id="closeNotesPageSettingsButton" class="ml-auto btn btn-link btn-link-yellow p-2">
                    <i class="material-icons icon-top-4">close</i>
                </button>
            </div>
        </div>
        <div class="p-4">
            <div class="row">
                <div class="col h5">
                    Page settings
                </div>
            </div>
            <div class="space-20"></div>
            <div class="row">
                <div class="col-12">
                    Sort:
                </div>
                <div class="col-auto ml-4">
                    <div class="row align-items-center">
                        <div class="col">
                            <button id="sort-notes-descending-button" class="btn btn-outline-info active"><i class="material-icons icon-top-4">history</i> Newest</button>
                        </div>
                        <div class="col">
                            <button id="sort-notes-ascending-button" class="btn btn-outline-info"><i class="material-icons icon-top-4">update</i> Oldest</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-20"></div>
            <div class="row">
                <div class="col-12">
                    Items per page:
                </div>
                <div class="col-auto ml-4">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <input type="number" id="notes-items-per-page-input" min="1" max="100" step="1" value="10" class="form-control d-inline w-auto"/>
                        </div>
                        <div class="col-auto">
                            <button id="decrease-notes-items-per-page-button" class="btn btn-outline-info">-</button><button id="increase-notes-items-per-page-button" class="btn btn-outline-info">+</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-20"></div>
            <div class="row">
                <div class="col-12">
                    <button id="notes-page-save-settings-button" class="btn btn-success float-right"><i class="material-icons icon-top-4">save</i> Save</button>
                </div>

            </div>
        </div>
    </div>
    <div id="notes-show-page-settings-button-div" style="position: absolute; top: 60px; right: 0;">
        <button id="notes-index-page-settings-button" class="btn btn-link btn-link-yellow bg-dark p-3 m-2" style="border-radius: 33%">
            <span><i class="material-icons icon-top-4">settings</i></span>
        </button>
    </div>
</div>
<script src="/js/notes-index.js" type="module"></script>

