@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.UploadVideoViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Upload video", PageNames.Videos, Model.LanguageId);
}
<div class="ml-xl-auto mr-xl-auto col-xl-10 col-xxl-9">
    <br />
    <div style="margin: 20px;">
        <H4>@await LocaleManager.GetTranslation("The video has been uploaded", PageNames.Videos, Model.LanguageId)</H4>
        <div><img width="100%" src="@Model.Video.ThumbLink" /></div>
    </div>
    <br />
    <div><a class="leavePage" asp-controller="Videos" asp-action="AddVideo">@await LocaleManager.GetTranslation("Return to upload video", PageNames.Videos, Model.LanguageId)</a></div>
    <br />
    <div><a class="leavePage" asp-controller="Videos" asp-action="Index" asp-route-childId="@Model.Video.ProgenyId">@await LocaleManager.GetTranslation("Return to video gallery", PageNames.Videos, Model.LanguageId)</a></div>
</div>