@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@using KinaUna.Data
@using KinaUna.IDP.Services
@model int
@inject ILocaleManager LocaleManager
@inject IWebHostEnvironment Env;
@{
	ITrackingConsentFeature consentFeature = Context.Features.Get<ITrackingConsentFeature>();
	bool showBanner = !consentFeature?.CanTrack ?? false;
	string cookieString = consentFeature?.CreateConsentCookie();
	string acceptCookie = Context.Request.Cookies["kinaunagdpr"];
	if (acceptCookie == "allowEssential")
	{
		showBanner = false;
	}
}
@if (showBanner)
{
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
					<div class="row">
						<div class="col-8 col-sm-12 col-md-12">
							<div class="space-20"></div>
							@await LocaleManager.GetTranslation("Cookies are used to store login state, language settings, and check if the cookie policy has been accepted, nothing else.", PageNames.Layout, Model)
							<div class="space-20"></div>
							<a asp-page="/Home/Cookies">@await LocaleManager.GetTranslation("Cookies", PageNames.Layout, Model)</a>
							<span class="ml-3 mr-3">-</span>
							<a asp-page="/Home/Privacy">@await LocaleManager.GetTranslation("Privacy", PageNames.Layout, Model)</a>
						</div>
						<div class="col-4 col-sm-12 col-md-12">
							<div class="row">
								<div class="col">
									<button type="button" class="btn btn-success" data-dismiss="alert" aria-label="Close" id="acceptEssentialCookies">
										<span aria-hidden="true">@await LocaleManager.GetTranslation("Accept essential cookies only", PageNames.Layout, Model)</span>
									</button>
									<div class="space-20"></div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<button type="button" class="btn btn-default" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
										<span aria-hidden="true">@await LocaleManager.GetTranslation("Allow third party cookies", PageNames.Layout, Model)</span>
									</button>
									<div class="space-20"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
	<script>
		(function() {
			var button = document.querySelector("#cookieConsent button[data-cookie-string]");
			button.addEventListener("click",
				function() {
					document.cookie = button.dataset.cookieString;
				},
				false);
		})();

		@{
			string cookieDomainName = "domain=.kinauna.com;path=/";
			if (Env.IsDevelopment())
			{
				cookieDomainName = "";
			}
			
		}
		$("#acceptEssentialCookies").click(function() {
            let date = new Date();
			date.setTime(date.getTime() + (180 * 24 * 60 * 60 * 1000));
			let expires = "; expires=" + date.toGMTString();
            document.cookie = "kinaunagdpr=" + "allowEssential" + expires + ";" + "@cookieDomainName";
		});
	</script>
}