<footer>
    <div class="container">
        <br />
        <br />
        <ul>
            <li> <a class="leavePage" asp-controller="Home" asp-action="Privacy">Cookies & Privacy Policy</a></li>
            <li><a class="leavePage" asp-controller="Home" asp-action="Terms">Terms & Conditions</a></li>
        </ul>
    </div><br />
</footer><br />
<footer>
    <div class="container" style="margin-bottom: 25px;">&copy; 2022 - KinaUna</div><br />
</footer>
<div class="space-50"></div>