<!DOCTYPE html>
@*@{ var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : Context.Request.GetEncodedUrl(); }*@
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kina Una Authentication Server</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link href="~/lib/fa5_2_0/css/all.min.css" rel="stylesheet" />
    <link href="~/css/waitMe.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
    <link href="~/lib/material-kit-205/css/material-kit.min.css?v=2.0.5" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css?v=1.15" />
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="~/lib/popper.min.js"></script>
    <script src="~/lib/material-kit-205/js/core/bootstrap-material-design.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
    <script src="~/lib/material-kit-205/js/material-kit.min.js"></script>
    <script src="~/js/waitMe.min.js"></script>
    @RenderSection("Scripts", required: false)
</head>
<body>
    <div class="main" style="margin-top: -40px;">
            <div style="padding: 25px; background: white;">
                @RenderBody()
            </div>
        </div>
        <br />
<partial name="_FooterPartial" />
    <script src="~/js/site.js"></script>
</body>
</html>
