@using KinaUnaWeb.Services
@using KinaUna.Data
@using KinaUna.Data.Extensions
@model KinaUnaWeb.Models.HomeViewModels.UserMenuViewModel
@inject ILocaleManager LocaleManager
@{
    string userName = Model.UserInfo.UserName;
    if (string.IsNullOrEmpty(Model.UserInfo.UserName))
    {
        userName = Model.UserInfo.UserEmail;
    }
}
<li class="nav-item dropdown mr-auto mr-lg-2">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        @{
            string userprofilePic = "<i class=\"material-icons ml-2 mr-1\" >person</i>";
            if (!string.IsNullOrWhiteSpace(Model.UserInfo.ProfilePicture))
            {
                string picLink = Model.UserInfo.GetProfilePictureUrl();
                userprofilePic = "<img src=\"" + picLink + "\" style=\"max-height: 32px; margin-top: -2px; margin-right: 6px; margin-left: 4px; border-radius: 10px;\" /img> ";
            }
        }
        @Html.Raw(userprofilePic) @userName
    </a>
    <div class="dropdown-menu dropdown-menu-right">
        @if (User.Identity != null && User.Identity.IsAuthenticated)
        {
            <div class="dropdown-item">
                <form class="form-inline-fullwidth" asp-area="" asp-controller="Family" asp-action="Index" method="get">
                    <button type="submit" class="btn btn-link text-white text-left btn-block leave-page"><i class="material-icons">people</i> @await LocaleManager.GetTranslation("My Family", PageNames.Layout, Model.LanguageId)</button>
                </form>
            </div>
        }
        @if (User.IsInRole("SiteAdmin") || Model.UserInfo.IsKinaUnaAdmin)
        {
            <div class="dropdown-item">
                <form class="form-inline-fullwidth" asp-area="" asp-controller="PushDevices" asp-action="Index" method="get">
                    <button type="submit" class="btn btn-link text-white text-left btn-block leave-page"><i class="material-icons">notification_important</i> Push Notifications</button>
                </form>
            </div>
        }
        @if (User.IsInRole("SiteAdmin") || Model.UserInfo.IsKinaUnaAdmin)
        {
            <div class="dropdown-item">
                <form class="form-inline-fullwidth" asp-area="" asp-controller="Admin" asp-action="Index" method="get">
                    <button type="submit" class="btn btn-link text-white text-left btn-block leave-page"><i class="material-icons">security</i> Admin</button>
                </form>
            </div>
        }
        <div class="dropdown-item">
            <form class="form-inline-fullwidth" asp-area="" asp-controller="Account" asp-action="MyAccount" method="get">
                <button type="submit" class="btn btn-link text-white text-left btn-block leave-page"><i class="material-icons">tune</i> @await LocaleManager.GetTranslation("My Account", PageNames.Layout, Model.LanguageId)</button>
            </form>
        </div>
        <div class="dropdown-item">
            <form id="logOutForm" class="form-inline-fullwidth" asp-controller="Authentication" asp-action="Logout" method="post">
                <button id="logOutButton" type="submit" class="btn btn-link text-white text-left btn-block leave-page"><i class="material-icons">power_settings_new</i> @await LocaleManager.GetTranslation("Log Out", PageNames.Layout, Model.LanguageId)</button>
            </form>
        </div>
    </div>
</li>