<div class="ml-auto mr-auto mt-auto mb-auto item-details-content-wrapper">
<div class="timeline-card-body modal-content item-details-content">
    <div class="add-item-container">
        <h3>Item not found.</h3>
        <button type="button" class="btn btn-link item-details-close-button"><span>×</span></button>
        <div class="space-20"></div>
    </div>
</div>
</div>