@using KinaUna.Data
@using KinaUnaWeb.Services
@model int
@inject ILocaleManager LocaleManager
<footer class="col-12">
    <div class="container">
        <div class="space-50"></div>
        <div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
            <ul>
                <li>
                    <a class="leave-page" asp-area="" asp-controller="Home" asp-action="About">
                        <i class="material-icons">info</i><span class="d-sm-inline d-md-inline d-lg-inline"> @await LocaleManager.GetTranslation("About", PageNames.Layout, Model)</span>
                    </a>
                </li>
                <li> <a class="leave-page" asp-controller="Home" asp-action="Privacy">@await LocaleManager.GetTranslation("Cookies & Privacy Policy", PageNames.Layout, Model)</a></li>
                <li><a class="leave-page" asp-controller="Home" asp-action="Terms">@await LocaleManager.GetTranslation("Terms & Conditions", PageNames.Layout, Model)</a></li>
                <li><a href="https://web.kinauna.com/Support" target="_blank">@await LocaleManager.GetTranslation("Support", PageNames.Layout, Model)</a></li>
            </ul>
        </div>
        
    </div>
    <div class="space-20"></div>
</footer>
<div class="space-20"></div>
<footer class="col-12">
    <div class="container" style="margin-bottom: 25px;">
        <div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">&copy; 2024 - @Constants.AppName</div>
    </div>
    <div class="space-20"></div>
</footer>
<div class="space-50"></div>