@using Microsoft.AspNetCore.Http.Extensions
@model KinaUnaWeb.Models.HomeViewModels.SetLanguageIdViewModel
@{
    Model.ReturnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : Context.Request.GetEncodedUrl();
    if (Model.ReturnUrl.Contains("&languageId="))
    {
        Model.ReturnUrl = Model.ReturnUrl.Replace("&languageId=" + Model.SelectedId, "&languageId=");
    }
    string currentLanguage = Model.LanguageList.SingleOrDefault(l => l.Id == Model.SelectedId)?.Name ?? "";
}
<ul class="navbar-nav ml-auto float-right">
    <li class="nav-item dropdown" style="z-index: 1022;">
        <a class="nav-link dropdown-toggle kinauna-yellow-text" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="material-icons kinauna-icon-medium kinauna-yellow-text">language</span>
            <span class="font-weight-bold kinauna-yellow-text" style="font-size: 15px; margin-left: 10px;">@currentLanguage</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="background: #662d91;" aria-labelledby="navbarDropdown">
            @foreach (KinaUnaLanguage language in Model.LanguageList)
            {
                string returnUrl = Model.ReturnUrl;
                if (Model.ReturnUrl.Contains("&languageId="))
                {
                    returnUrl = Model.ReturnUrl + language.Id;
                }
                string imageOpacity = "0.7";
                string selectedText = "normal";
                if (Model.SelectedId == language.Id)
                {
                    imageOpacity = "1";
                    selectedText = "bold";
                }
                <a class="dropdown-item leave-page pt-2 pb-2" asp-controller="Home" asp-action="SetLanguageId" asp-route-languageId="@language.Id" asp-route-returnUrl="@returnUrl">
                    <span class="kinauna-footer-text" style="font-weight: @selectedText; opacity: @imageOpacity; font-size: 16px; margin-left: 10px;">@language.Name</span>
                </a>
            }
        </div>
    </li>
</ul>