@using KinaUnaWeb.Services
@using KinaUna.Data
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
    string titleString = await LocaleManager.GetTranslation("Add item", PageNames.AddItem, languageId);
}
<div id="main-modal" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    @titleString
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                    <div class="col">
                        <a class="btn btn-add-note add-item-button" data-add-item-type="note" data-add-item-progeny-id="0">
                            <div class="space-20"></div>
                            <i class="material-icons" style="font-size: 42px;">note</i>
                            <div class="space-20"></div>
                            @await LocaleManager.GetTranslation("Note", PageNames.AddItem, languageId)
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn btn-add-calendar add-item-button" data-add-item-type="calendar" data-add-item-progeny-id="0">
                            <div class="space-20"></div>
                            <i class="material-icons" style="font-size: 42px;">event_note</i>
                            <div class="space-20"></div>
                            @await LocaleManager.GetTranslation("Calendar item", PageNames.AddItem, languageId)
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn btn-add-calendar add-item-button" data-add-item-type="todo" data-add-item-progeny-id="0">
                            <div class="space-20"></div>
                            <i class="material-icons" style="font-size: 42px;">fact_check</i>
                            <div class="space-20"></div>
                            @await LocaleManager.GetTranslation("Todo", PageNames.AddItem, languageId)
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn btn-add-photo add-item-button" data-add-item-type="picture" data-add-item-progeny-id="0">
                            <div class="space-20"></div>
                            <i class="material-icons" style="font-size: 42px;">photo_library</i>
                            <div class="space-20"></div>
                            @await LocaleManager.GetTranslation("Photo", PageNames.AddItem, languageId)
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn btn-add-video add-item-button" data-add-item-type="video" data-add-item-progeny-id="0">
                            <div class="space-20"></div>
                            <i class="material-icons" style="font-size: 42px;">videocam</i>
                            <div class="space-20"></div>
                            @await LocaleManager.GetTranslation("Video", PageNames.AddItem, languageId)
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn btn-add-word add-item-button" data-add-item-type="vocabulary" data-add-item-progeny-id="0">
                            <div class="space-20"></div>
                            <i class="material-icons" style="font-size: 42px;">forum</i>
                            <div class="space-20"></div>
                            @await LocaleManager.GetTranslation("Word", PageNames.AddItem, languageId)
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn btn-add-friend add-item-button" data-add-item-type="friend" data-add-item-progeny-id="0">
                            <div class="space-20"></div>
                            <i class="material-icons" style="font-size: 42px;">face</i>
                            <div class="space-20"></div>
                            @await LocaleManager.GetTranslation("Friend", PageNames.AddItem, languageId)
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn btn-add-measurement add-item-button" data-add-item-type="measurement" data-add-item-progeny-id="0">
                            <div class="space-20"></div>
                            <i class="material-icons" style="font-size: 42px;">straighten</i>
                            <div class="space-20"></div>
                            @await LocaleManager.GetTranslation("Measurement", PageNames.AddItem, languageId)
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn btn-add-contact add-item-button" data-add-item-type="contact" data-add-item-progeny-id="0">
                            <div class="space-20"></div>
                            <i class="material-icons" style="font-size: 42px;">contact_phone</i>
                            <div class="space-20"></div>
                            @await LocaleManager.GetTranslation("Contact", PageNames.AddItem, languageId)
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn btn-add-skill add-item-button" data-add-item-type="skill" data-add-item-progeny-id="0">
                            <div class="space-20"></div>
                            <i class="material-icons" style="font-size: 42px;">school</i>
                            <div class="space-20"></div>
                            @await LocaleManager.GetTranslation("Skill", PageNames.AddItem, languageId)
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn btn-add-vaccination add-item-button" data-add-item-type="vaccination" data-add-item-progeny-id="0">
                            <div class="space-20"></div>
                            <i class="material-icons" style="font-size: 42px;">local_pharmacy</i>
                            <div class="space-20"></div>
                            @await LocaleManager.GetTranslation("Vaccination", PageNames.AddItem, languageId)
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn btn-add-location add-item-button" data-add-item-type="location" data-add-item-progeny-id="0">
                            <div class="space-20"></div>
                            <i class="material-icons" style="font-size: 42px;">person_pin</i>
                            <div class="space-20"></div>
                            @await LocaleManager.GetTranslation("Location", PageNames.AddItem, languageId)
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn btn-add-sleep add-item-button" data-add-item-type="sleep" data-add-item-progeny-id="0">
                            <div class="space-20"></div>
                            <i class="material-icons" style="font-size: 42px;">hotel</i>
                            <div class="space-20"></div>
                            @await LocaleManager.GetTranslation("Sleep", PageNames.AddItem, languageId)
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn btn-add-user add-item-button" data-add-item-type="user" data-add-item-progeny-id="0">
                            <div class="space-20"></div>
                            <i class="material-icons" style="font-size: 42px;">person</i>
                            <div class="space-20"></div>
                            @await LocaleManager.GetTranslation("User", PageNames.AddItem, languageId)
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>