@model ErrorViewModel
@{
    ViewData["Title"] = "Fejl";
}

<h1 class="text-danger">Fejl.</h1>
<h2 class="text-danger">Det skete en fejl.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Forespørgsels ID:</strong> <code>@Model.RequestId</code>
    </p>
}