@model KinaUnaWeb.Models.ErrorViewModel
@{
    ViewData["Title"] = "Fehler";
}

<h1 class="text-danger">Fehler.</h1>
<h2 class="text-danger">Bei der Übermittlung deiner Anfrage ist leider ein Fehler aufgetreten.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Anfrage ID:</strong> <code>@Model.RequestId</code>
    </p>
}