@using KinaUna.Data
@using KinaUna.OpenIddict.Services
@model KinaUna.OpenIddict.Models.AccountViewModels.RegisterViewModel
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
    string pageTitle = await LocaleManager.GetTranslation("Confirm Delete Account", PageNames.Account, languageId);
}
<h2>@pageTitle</h2>
<div class="row">
    <div class="col-md-10">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-5">
                @await LocaleManager.GetTranslation("Thank you for your confirmation.", PageNames.Account, languageId)
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-5">
                @await LocaleManager.GetTranslation("Your account has now been removed and all your data will be completely removed in 30 days.", PageNames.Account, languageId)
            </div>
        </div>
    </div>
</div>