@using KinaUna.Data
@using KinaUna.OpenIddict.Services
@model KinaUna.OpenIddict.Models.AccountViewModels.ForgotPasswordViewModel
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
    string pageTitle = await LocaleManager.GetTranslation("Forgot your password?", PageNames.Account, languageId);
}
<div class="container row">
    <div class="col-12">
        <a class="btn btn-info leavePage" style="float: right;" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]">&nbsp;@await LocaleManager.GetTranslation("Back to log in", PageNames.Account, languageId)&nbsp;</a>
        <h2>@pageTitle</h2>
        <h4>@await LocaleManager.GetTranslation("Enter your email address", PageNames.Account, languageId)</h4>
        <div>@await LocaleManager.GetTranslation("When you click submit a reset code will be sent to you.", PageNames.Account, languageId)</div>
        <hr/>
        <div class="row">
            <div class="col-10 col-md-6">
                <form asp-action="ForgotPassword" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email">@await LocaleManager.GetTranslation("Email", PageNames.Account, languageId)</label>
                        <input asp-for="Email" class="form-control"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <input asp-for="LanguageId" value="@languageId" hidden="hidden"/>
                    <button type="submit" class="btn btn-success leavePage">@await LocaleManager.GetTranslation("Submit", PageNames.Account, languageId)</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br/><br/>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}