@using KinaUna.Data
@using KinaUna.OpenIddict.Services
@model KinaUna.OpenIddict.Models.AccountViewModels.LoginViewModel
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
    ViewData["Title"] = await LocaleManager.GetTranslation("Log in", PageNames.Account, languageId);
}
<div class="row">
    <div class="col-md-10">
        <section>
            <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" autocomplete="off">
                <input type="hidden" asp-for="ReturnUrl" />
                <h4>@await LocaleManager.GetTranslation("Log in with a KinaUna account", PageNames.Account, languageId)</h4>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label form-label">@await LocaleManager.GetTranslation("Email", PageNames.Account, languageId)</label>
                    <input type="email" asp-for="Email" class="form-control form-input form-input-center" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label form-label">@await LocaleManager.GetTranslation("Password", PageNames.Account, languageId)</label>
                    <input type="password" asp-for="Password" class="form-control form-input form-input-center" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="ReturnUrl" type="hidden" value="@Model.ReturnUrl" />
                    <button type="submit" class="btn btn-success leavePage closeModal">&nbsp;@await LocaleManager.GetTranslation("Log in", PageNames.Account, languageId)&nbsp;</button>
                </div>
                <br /><br />
                <p>
                    <a class="leavePage" asp-action="ForgotPassword">@await LocaleManager.GetTranslation("Forgot your password?", PageNames.Account, languageId)</a>
                </p>
                <p>
                    <a asp-action="Register" asp-route-returnurl="@Model.ReturnUrl" class="text leavePage">@await LocaleManager.GetTranslation("Register as a new user?", PageNames.Account, languageId)</a>
                </p>
            </form>
        </section>
    </div>
</div>