@using KinaUna.Data
@using KinaUna.OpenIddict.Services
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
    string pageTitle = await LocaleManager.GetTranslation("Registration confirmation sent", PageNames.Account, languageId);
}
<h2 class="title">@pageTitle</h2>
<div>
    @await LocaleManager.GetTranslation("Thank you for registering a new account.", PageNames.Account, languageId)<br/>
    @await LocaleManager.GetTranslation("An email has been sent to confirm your email address:", PageNames.Account, languageId) @ViewBag.userEmail<br/><br/>
    @await LocaleManager.GetTranslation("If you do not see the email in your inbox within a few minutes, please check your spam/junk email folder.", PageNames.Account, languageId)<br/>
</div>