@using KinaUna.Data
@using KinaUna.OpenIddict.Services
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
    ViewData["Title"] = await LocaleManager.GetTranslation("Email verification required", PageNames.Account, languageId);
}
<header>
    <h2 class="title text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">@await LocaleManager.GetTranslation("Your email address has not been confirmed yet.", PageNames.Account, languageId)</p>
</header>
<div>

</div>
<div>
    @await LocaleManager.GetTranslation("A new verification email has been sent. Check your inbox.<br />If it does not appear in the inbox within a couple of minutes, check your spam folder too.", PageNames.Account, languageId)
</div>
<div>
    @await LocaleManager.GetTranslation("Click the link in the email and try to log in again.", PageNames.Account, languageId)
</div>