@using KinaUnaWeb.Services
@using KinaUna.Data
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
}
<div id="upcoming-events-parent-div" class="d-none">
    <div>
        @await LocaleManager.GetTranslation("Current and upcoming events:", PageNames.Home, languageId)
    </div>
    <div id="upcoming-events-div">

    </div>
    <div style="height: 150px;">
        <button id="more-upcoming-events-button" class="btn btn-link btn-link-edit d-none" style="margin-top: 20px;">@await LocaleManager.GetTranslation("Show more events", PageNames.Calendar, languageId)</button>
        <div id="loading-upcoming-events-div" class="w-100">
            <div class="space-50"></div>
        </div>
    </div>
</div>


<script src="/js/home/home-upcoming-events.js" type="module" asp-append-version="true"></script>
