@using KinaUnaWeb.Services
@using KinaUna.Data
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
}
<div id="latest-posts-parent-div" class="d-none">
    <div>
        @await LocaleManager.GetTranslation("Latest posts:", PageNames.Home, languageId)
    </div>
    <div id="timeline-items-div">

    </div>
    <div style="height: 150px;">
        <button id="more-latest-posts-items-button" class="btn btn-link btn-link-edit d-none" style="margin-top: 20px;">@await LocaleManager.GetTranslation("Show more posts", PageNames.Timeline, languageId)</button>
        <div id="loading-latest-posts-items-div" class="w-100">
            <div class="space-50"></div>
        </div>
    </div>
</div>


<script src="/js/home/home-latest-posts.js" type="module" asp-append-version="true"></script>