@using KinaUnaWeb.Services
@using KinaUna.Data
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
}
<div id="yearAgoPostsParentDiv" class="d-none">
    <div>
        @await LocaleManager.GetTranslation("On this day:", PageNames.Home, languageId)
    </div>
    <div id="yearAgoItemsDiv" style="opacity: 0.75">

    </div>
    <div style="height: 150px;">
        <button id="moreYearAgoPostsButton" class="btn btn-link btn-link-edit d-none" style="margin-top: 20px;">@await LocaleManager.GetTranslation("Show more posts", PageNames.Timeline, languageId)</button>
        <div id="loadingYearAgoItemsDiv" class="w-100">
            <div class="space-50"></div>
        </div>
    </div>
</div>
<script src="/js/home/home-year-ago-posts.js" type="module" asp-append-version="true"></script>