@using KinaUna.Data
@{
    ViewData["Title"] = "Info";
}
<h2>@ViewData["Title"]</h2>
<div>
    <H4>
        <img src="~/images/KinaUnaLogo_246x80.png" />
    </H4>
    <br />
    <div style="max-width: 600px;">
        "Kina Una" betyder "hvem der?" på grønlandsk.<br /><br />Jeg startede med at lave dette website fordi jeg manglede en bedre måde at dele min datters foto og informationer med familie og venner.<br /><br />
        Desuden ville jeg gerne samle nogle data om mit barn, fordi jeg tit spekulerer på hvordan jeg selv var, dengang jeg var på hendes alder, og jeg tvivler på at jeg kan huske det rigtigt når hun en dag spørger mig om hvordan hun var da hun var lille.<br />
        For eksempel, hvor mange ord kendte jeg, hvor meget sov jeg, hvor ofte var jeg syg, hvor høj var jeg da jeg var X måneder eller år gammel?<br />
        Jeg er også interesseret i data-science og håber at jeg kan tilføje nogle statistisk analysefunktioner senere.<br /><br />
        Efter jeg gik igang gik det op for mig at måske er der noget information der kan gavne andre der kan samles og deles. For eksempel vuggestuepædagogerne, læger, lærere, eller når venner, familie eller en babysitter skal passe den lille. Så kan man vise hvornår hun plejer at sove, har været syg, skal, eller har været til, noget spændende, osv.<br /><br />
        Jeg vil også gætte på at det er sjovere for et barn at lære matematik med tal fra deres eget liv, når den tid enang kommer.
    </div>
    <br />
    <div>
        <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a><br />
    </div><br />
    <div>
        <H5>Udviklet af Per Rosing Mogensen, med:</H5>
        <div style="margin-left: 30px; margin-top: 15px;">
            <p><a href="https://docs.microsoft.com/en-gb/aspnet/core/">ASP.NET Core</a> 2.2.2</p>
            <p><a href="https://github.com/IdentityServer/IdentityServer4">Identity Server 4</a> 2.3.2</p>
            <p><a href="https://www.creative-tim.com/product/material-kit">Material Kit</a> 2.0.5</p>
            <p><a href="https://jquery.com/">JQuery</a> 3.4.0</p>
            <p><a href="https://momentjs.com/">MomentJS</a> 2.18.2</p>
            <p><a href="http://fontawesome.io/">Font-Awesome</a> 5.0.8</p>
            <p><a href="https://github.com/dlemstra/Magick.NET">Magick.NET</a> 7.0.7</p>
            <p><a href="https://fullcalendar.io">FullCalendar</a> 3.9.0</p>
            <p><a href="http://www.chartjs.org/">ChartJS</a> 2.7.1</p>
            <p><a href="https://datatables.net/">DataTables</a> 1.10.16</p>
            <p><a href="http://www.jasny.net/bootstrap/javascript/#fileinput">Jasny File Input</a></p>
            <p><a href="https://refreshless.com/nouislider/">noUiSlider</a></p>
            <p><a href="http://silviomoreto.github.io/bootstrap-select/">Bootstrap-Select</a></p>
            <p><a href="http://signalr.net/">ASP.NET SignalR</a></p>
            <p><a href="https://quilljs.com/">Quill</a></p>
            <p><a href="https://github.com/amsify42/jquery.amsify.suggestags">Amsify Jquery Suggestags</a></p>
            <p><a href="https://github.com/web-push-libs/web-push-csharp/">Web-Push-CSharp</a> 1.0.11</p>
            <p><a href="https://github.com/twitter/typeahead.js">Typeahead.js</a> 0.1.11</p>
        </div>
        <br />
        <div>
            <h5>Support:</h5>
            Email: <a href="mailto://@Constants.SupportEmail">@Constants.SupportEmail</a>
        </div>
    </div>
</div>

