@using KinaUna.Data
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<div>
    <H4>
        <img src="~/images/KinaUnaLogo_246x80.png" />
    </H4>
    <br />
    <div style="max-width: 600px;">
        "Kina Una" means "who is that?" in Greenlandic.<br /><br />
        This website started because I wanted a better way to share my child's pictures and various information with family and friends.<br /><br />
        Furthermore I wanted to collect some data, because I often wondered about my own first years, and I doubt I can accurately recall all the details when my own daughter asks me years from now.<br />
        For example, how quickly did I learn words, how much sleep did I get, how often was I sick, how tall was I at age X?<br /><br />
        I also have some interest in data-science and hope to implement some statistical analysis functions later on.<br /><br />
        Then I figured, why not collect information and data that might be useful to others, for example staff at daycare, doctors, teachers, or when friends and family take care of the little one in the future. Then you can show them when she usually sleeps, if she has been ill, if she is going to some interesting event, or has been going, and so on.<br /><br />
        I also imagine that when the time comes to learn math it will be a lot more fun for children when they can use actual numbers from their own life.<br />
    </div>
    <br />
    <div>
        <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a><br /><br />
        <a asp-controller="Home" asp-action="Terms">Terms of use</a><br />
    </div><br />
          <div>
              <H5>A .NET Web App on <a href="https://azure.microsoft.com/en-us/develop/net/">Azure</a> - Developed by Per Rosing Mogensen, using:</H5>
              <div style="margin-left: 30px; margin-top: 15px;">
                  <p><a href="https://docs.microsoft.com/en-gb/aspnet/core/">ASP.NET Core</a> 2.2.2</p>
                  <p><a href="https://github.com/IdentityServer/IdentityServer4">Identity Server 4</a> 2.3.2</p>
                  <p><a href="https://www.creative-tim.com/product/material-kit">Material Kit</a> 2.0.5</p>
                  <p><a href="https://jquery.com/">JQuery</a> 3.4.0</p>
                  <p><a href="https://momentjs.com/">MomentJS</a> 2.18.2</p>
                  <p><a href="http://fontawesome.io/">Font-Awesome</a> 5.0.8</p>
                  <p><a href="https://github.com/dlemstra/Magick.NET">Magick.NET</a> 7.0.7</p>
                  <p><a href="https://fullcalendar.io">FullCalendar</a> 3.9.0</p>
                  <p><a href="http://www.chartjs.org/">ChartJS</a> 2.7.1</p>
                  <p><a href="https://datatables.net/">DataTables</a> 1.10.16</p>
                  <p><a href="http://www.jasny.net/bootstrap/javascript/#fileinput">Jasny File Input</a></p>
                  <p><a href="https://refreshless.com/nouislider/">noUiSlider</a></p>
                  <p><a href="http://silviomoreto.github.io/bootstrap-select/">Bootstrap-Select</a></p>
                  <p><a href="http://signalr.net/">ASP.NET SignalR</a></p>
                  <p><a href="https://quilljs.com/">Quill</a></p>
                  <p><a href="https://github.com/amsify42/jquery.amsify.suggestags">Amsify Jquery Suggestags</a></p>
                  <p><a href="https://github.com/web-push-libs/web-push-csharp/">Web-Push-CSharp</a> 1.0.11</p>
                  <p><a href="https://github.com/twitter/typeahead.js">Typeahead.js</a> 0.1.11</p>
              </div>
              <br />
              <div>
                  <h5>Support:</h5>
                  Email: <a href="mailto://@Constants.SupportEmail">@Constants.SupportEmail</a>
              </div>
          </div>
</div>

