@using KinaUna.Data
@{
    ViewData["Title"] = "Info";
}
<h2>@ViewData["Title"]</h2>
<div>
    <H4>
        <img src="~/images/KinaUnaLogo_246x80.png" />
    </H4>
    <br />
    <div style="max-width: 600px;">
        "Kina Una" bedeutet "Wer ist das?" auf Inuit, der Sprache der Grönland Eskimos.<br />
        <br />Ich habe diese Website entwickelt, weil ich Fotos, Entwicklungsmeilensteine und praktische Informationen meiner kleinen Tochter mit Familienmitgliedern und Freunden teilen wollte.
        <br /><br />
        Oft habe ich über meine eigenen ersten Lebensjahre nachgedacht und gemerkt, dass ich viele Dinge nicht weiss. Wenn mich meine Tochter einmal über ihre Kinderzeit ausfragen wird, möchte ich ihr besser Auskunft geben können! Zudem ist eines meiner Interessesgebiete Data Science – ich hoffe ich kann bald zusätzliche Funktionen für persönliche Statistiken ausbauen, um zum Beispiel das Sprechenlernen oder Schlafgewohnheiten besser nachzuverfolgen.
        <br /><br />
        Die Grosseltern und andere Verwandtschaft meiner Tochter leben weit entfernt- Kina Una ist ganz darauf ausgelegt, sie am Alltag teilhaben zu lassen. Die Informationen und persönlichen Daten, die ich für mein Kind auf Kina Una selbst sammle und verwalte, kann ich auch anderen ausgewählten Leuten, zum Beispiel Betreuern in Kinderkrippe und Kindergarten, dem Kinderarzt oder Lehrern/Trainern zugänglich machen. Jeden, der sich um meine Tochter kümmert oder sich für ihre Entwicklung interessiert, kann ich so sehen lassen, ob sie in letzter Zeit gut geschlafen hat, ob sie krank war,mit neues Freunden spielt oder etwas ganz Besonderes gelernt hat.
        <br />
    </div>
    <br />
    <div>
        <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a><br />
    </div><br />
    <div>
        <H5>Entwickelt von Per Rosing Mogensen mit:</H5>
        <div style="margin-left: 30px; margin-top: 15px;">
            <p><a href="https://docs.microsoft.com/en-gb/aspnet/core/">ASP.NET Core</a> 2.2.2</p>
            <p><a href="https://github.com/IdentityServer/IdentityServer4">Identity Server 4</a> 2.3.2</p>
            <p><a href="https://www.creative-tim.com/product/material-kit">Material Kit</a> 2.0.5</p>
            <p><a href="https://jquery.com/">JQuery</a> 3.4.0</p>
            <p><a href="https://momentjs.com/">MomentJS</a> 2.18.2</p>
            <p><a href="http://fontawesome.io/">Font-Awesome</a> 5.0.8</p>
            <p><a href="https://github.com/dlemstra/Magick.NET">Magick.NET</a> 7.0.7</p>
            <p><a href="https://fullcalendar.io">FullCalendar</a> 3.9.0</p>
            <p><a href="http://www.chartjs.org/">ChartJS</a> 2.7.1</p>
            <p><a href="https://datatables.net/">DataTables</a> 1.10.16</p>
            <p><a href="http://www.jasny.net/bootstrap/javascript/#fileinput">Jasny File Input</a></p>
            <p><a href="https://refreshless.com/nouislider/">noUiSlider</a></p>
            <p><a href="http://silviomoreto.github.io/bootstrap-select/">Bootstrap-Select</a></p>
            <p><a href="http://signalr.net/">ASP.NET SignalR</a></p>
            <p><a href="https://quilljs.com/">Quill</a></p>
            <p><a href="https://github.com/amsify42/jquery.amsify.suggestags">Amsify Jquery Suggestags</a></p>
            <p><a href="https://github.com/web-push-libs/web-push-csharp/">Web-Push-CSharp</a> 1.0.11</p>
            <p><a href="https://github.com/twitter/typeahead.js">Typeahead.js</a> 0.1.11</p>
        </div>
        <br />
        <div>
            <h5>Support:</h5>
            Email: <a href="mailto://@Constants.SupportEmail">@Constants.SupportEmail</a>
        </div>
    </div>
</div>

