@using KinaUna.Data
@using KinaUnaWeb.Services
@using Microsoft.AspNetCore.Http.Extensions
@inject ILocaleManager LocaleManager
@model KinaUnaWeb.Models.HomeViewModels.AboutViewModel
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("About", PageNames.Layout, Model.LanguageId);
    Model.KinaUnaText = await LocaleManager.GetPageTextByTitle("__About", "About", Model.LanguageId);
    string returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : Context.Request.GetEncodedUrl();
}
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="add-item-container">
        <h2 class="col-12">@ViewData["Title"]</h2>
        <div class="col-12">
            <img src="~/images/KinaUnaLogo_246x80.png" />
        </div>
        <div class="space-50"></div>
        <div class="col-auto" style="max-width: 800px;" id="aboutTextDiv">
            @Html.Raw(Model.KinaUnaText.Text ?? "")
        </div>
        <div class="space-20"></div>
        @if (Model.CurrentUser.IsKinaUnaAdmin && Model.KinaUnaText != null)
        {
            <div id="aboutPageTextIdDiv" class="d-none" data-about-page-text-id='@Model.KinaUnaText.Id'></div>
            <div id="aboutPageReturnUrlDiv" class="d-none" data-about-page-return-url='@returnUrl'></div>
            <div class="space-20"></div>
            <div class="col-auto"><a class="btn btn-outline-info" id="editAboutTextButton" data-toggle="modal" data-target="#editAboutTextModalDiv">Edit</a></div>
            <div class="space-20"></div>
            <script>
                function onImageUploadSuccess(args) {
                    if (args.e.currentTarget.getResponseHeader('name') != null) {
                        args.file.name = args.e.currentTarget.getResponseHeader('name');
                        var filename = document.querySelectorAll(".e-file-name")[0];
                        filename.innerHTML = args.file.name.replace(document.querySelectorAll(".e-file-type")[0].innerHTML, '');
                        filename.title = args.file.name;
                    }
                }

                let defaultRTE;

                function onrtecreated() {
                    setTimeout(function () {
                        let rteElement = document.getElementById('textTextRTE').ej2_instances[0];
                        rteElement.refreshUI();
                    },
                        1000);
                    defaultRTE = this;
                }

                function onrtefocus() {
                    let rteElement = document.getElementById('textTextRTE').ej2_instances[0];
                    rteElement.refreshUI();
                }
            </script>
            <script src="/js/home/home-about.js" asp-append-version="true"></script>
        }
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" id="editAboutTextModalDiv">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit About</h5>
                <button id="editAboutTextCloseButton" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<style>
    .e-rte-image-popup.e-rte-quick-popup {
        z-index: 20001 !important;
    }
</style>