@model List<CalendarItem>
    @foreach (CalendarItem ev in Model)
    {
        <a class="leavePage" asp-controller="Calendar" asp-action="ViewEvent" asp-route-eventId="@ev.EventId">
            <div class="card bg-primary" style="margin-top: 0; margin-bottom: 10px;">

                <div class="card-body" style="background: rgba(38, 3, 51, 0.5)">
                    <div class="info-title">
                        <small class="text-warning">
                            @ev.StartTime.Value.ToString("dd-MMM-yyyy HH:mm") -
                        @ev.EndTime.Value.ToString("dd-MMM-yyyy HH:mm")
                    </small>
                </div>
                <div class="text-white">@ev.Title</div>
            </div>
        </div>
    </a>

}
