@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.HomeViewModels.HomeFeedViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Home", PageNames.Home, Model.LanguageId);
}
<div class="row m-0">
    <div class="ml-xl-auto mr-xl-auto col-12 col-xxl-11 col-xxxl-10">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-6 col-xxxl-6 col-w1900-6 col-w2500-5" style="margin-bottom: 10px; padding-left: 25px;">
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="bg-white col-auto" style="border-radius: 25px;">
                        <img src="~/images/KinaUnaLogo_246x80.png" alt="KinaUna Logo"/>
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="space-20"></div>
                <div>
                    @if (User.Identity != null && User.Identity.IsAuthenticated && ViewBag.OriginalProgeny != null)
                    {
                        <div>
                            @await LocaleManager.GetTranslation("You don't have access to data for", PageNames.Home, Model.LanguageId) @ViewBag.OriginalProgeny.NickName<br />

                            @await LocaleManager.GetTranslation("To request access click here:", PageNames.Home, Model.LanguageId)
                            <a asp-controller="Home" asp-action="RequestAccess" asp-route-childId="@ViewBag.OriginalProgeny.Id" class="btn btn-success btn-round leavePage">
                                <i class="fas fa-plus"></i> @await LocaleManager.GetTranslation("Request access", PageNames.Home, Model.LanguageId)
                            </a><br />
                            @await LocaleManager.GetTranslation("Displaying data for KinaUna.com instead.", PageNames.Home, Model.LanguageId)<br />
                        </div>
                    }
                    @await Html.PartialAsync("_RandomPicturePartial", Model)
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 col-xxl-4 col-xxxl-4 col-w1900-4 col-w2500-3">
                <div class="space-10"></div>
                @if (Model.EventsList.Any())
                {
                    <div>
                        @await LocaleManager.GetTranslation("Current and upcoming events:", PageNames.Home, Model.LanguageId)
                    </div>
                    @await Html.PartialAsync("_EventsPartial", Model.EventsList)
                    <div class="space-20"></div>
                }
                @if (Model.LatestPosts.TimeLineItems.Any())
                {
                    <div>
                        @await LocaleManager.GetTranslation("Latest posts:", PageNames.Home, Model.LanguageId)
                    </div>
                    @await Html.PartialAsync("_LatestPostsPartial", Model.LatestPosts)
                    <div class="space-20"></div>
                }
                @if (Model.YearAgoPosts.TimeLineItems.Any())
                {
                    <div>
                        @await LocaleManager.GetTranslation("On this day:", PageNames.Home, Model.LanguageId)
                    </div>
                    @await Html.PartialAsync("_YearAgoPartial", Model.YearAgoPosts)
                }
            </div>
        </div>
    </div>
    <div class="space-20"></div>
</div>
