@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.HomeViewModels.HomeFeedViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Home", PageNames.Home, Model.LanguageId);
}
<div class="col-12">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-4 col-xxxl-5 col-w1900-5 col-w2500-4">
            <div class="space-20"></div>
            <div>
                @if (User.Identity != null && User.Identity.IsAuthenticated && ViewBag.OriginalProgeny != null)
                {
                    <div>
                        @await LocaleManager.GetTranslation("You don't have access to data for", PageNames.Home, Model.LanguageId) @ViewBag.OriginalProgeny.NickName<br />

                        @await LocaleManager.GetTranslation("To request access click here:", PageNames.Home, Model.LanguageId)
                        <a asp-controller="Home" asp-action="RequestAccess" asp-route-childId="@ViewBag.OriginalProgeny.Id" class="btn btn-success btn-round leave-page">
                            <i class="fas fa-plus"></i> @await LocaleManager.GetTranslation("Request access", PageNames.Home, Model.LanguageId)
                        </a><br />
                        @await LocaleManager.GetTranslation("Displaying data for KinaUna.com instead.", PageNames.Home, Model.LanguageId)<br />
                    </div>
                }
                @await Html.PartialAsync("_RandomPicturePartial", Model)
            </div>
            <div class="space-10"></div>
        </div>
        <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 col-xxl-4 col-xxxl-3 col-w1900-2 col-w2500-2">
            <div class="space-20"></div>
            @await Html.PartialAsync("_EventsPartial")
        </div>
        <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 col-xxl-4 col-xxxl-3 col-w1900-2 col-w2500-2">
            <div class="space-20"></div>
            @await Html.PartialAsync("_LatestPostsPartial")
        </div>
        <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 col-xxl-4 col-xxxl-4 col-w1900-2 col-w2500-2">
            <div class="space-20"></div>
            @await Html.PartialAsync("_YearAgoPartial")
        </div>
    </div>
</div>
<script src="/js/home/home-index.js" type="module" asp-append-version="true"></script>