@model KinaUnaWeb.Models.ItemViewModels.TimeLineViewModel

<div id="tlineItems" style="opacity: 0.85">

</div>
<div id="moreButtonDiv">
    <a class="btn btn-success leavePage" id="moreTimeLineItems" style="margin-top: 20px;" asp-controller="TimeLine" asp-action="Index">Vis flere indlæg</a>
    <br />
</div>
<script type="text/javascript">
    var currentItemNumber = 0;
    var maxNumber = @Model.TimeLineItems.Count;

    @{
        string[] idNumbers = new String[Model.TimeLineItems.Count];
        int[] itmType = new int[Model.TimeLineItems.Count];
        int tiCount = 0;
        foreach (TimeLineItem tItm in Model.TimeLineItems)
        {
            idNumbers[tiCount] = tItm.ItemId;
            itmType[tiCount] = tItm.ItemType;
            tiCount++;
        }
    }
    var itemId = [@string.Join(",", idNumbers)];
    var itemType = [@string.Join(",", itmType)];
    var numItems = 5;
    $(document).ready(function() {
        async function getItemsHist() {
            let g;
            for (g = 0; g < 5; g++) {
                await getHistItem();
            };
        };

        async function getHistItem() {
            var timelineItemData = { typeId: itemType[currentItemNumber], itemId: itemId[currentItemNumber] };
            currentItemNumber++;
            await getTimeLineItemLoad(timelineItemData);
        };

        getItemsHist();

        function getTimeLineItemLoad(tData) {
            return $.ajax({
                type: "GET",
                url: "/LatestPosts/GetTimeLineItem",
                data: tData,
                datatype: "html",
                async: true,
                success: function(data) {
                    $('#tlineItems').append(data);
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        }
    });
</script>