@inject IAntiforgery AntiForgery
@inject ILocaleManager LocaleManager
@using Microsoft.AspNetCore.Antiforgery
@using KinaUnaWeb.Services
@using KinaUna.Data
@using KinaUna.Data.Extensions
@model KinaUnaWeb.Models.HomeViewModels.AboutViewModel
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Privacy", PageNames.Layout, Model.LanguageId);
    Model.KinaUnaText = await LocaleManager.GetPageTextByTitle("__Privacy", "Privacy", Model.LanguageId);
}
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="add-item-container">
        <h2 class="col-12">@ViewData["Title"]</h2>
        <div class="col-12">
            <img src="~/images/KinaUnaLogo_246x80.png"/>
        </div>
        @if (Context.Request.ConsentCookieSet())
        {
            <div class="space-20"></div>
            @await Html.PartialAsync("_CookieConsentPartial", Model.LanguageId)
        }
        
        <div class="space-50"></div>
        <div class="col-auto" id="impressumTextDiv">
            @Html.Raw(Model.KinaUnaText.Text ?? "")
        </div>
        @if (Model.CurrentUser.IsKinaUnaAdmin && Model.KinaUnaText != null)
        {
            <div class="space-20"></div>
            <div class="col-auto"><a class="btn btn-outline-info" onclick="editModal('@Model.KinaUnaText.Id', 'Edit About')">Edit</a></div>
            <div class="space-20"></div>
            <script>
            function onImageUploadSuccess(args) {
                if (args.e.currentTarget.getResponseHeader('name') != null) {
                    args.file.name = args.e.currentTarget.getResponseHeader('name');
                    var filename = document.querySelectorAll(".e-file-name")[0];
                    filename.innerHTML = args.file.name.replace(document.querySelectorAll(".e-file-type")[0].innerHTML, '');
                    filename.title = args.file.name;
                }
            }

            let defaultRTE;

            function onrtecreated() {
                setTimeout(function () {
                    let rteElement = document.getElementById('textTextRTE').ej2_instances[0];
                    rteElement.refreshUI();
                },
                    1000);
                defaultRTE = this;
            }

            function onrtefocus() {
                let rteElement = document.getElementById('textTextRTE').ej2_instances[0];
                rteElement.refreshUI();
            }

            function updateTitle() {
                let editTitleSource = document.getElementById('editTitleInput');
                let editTitleTarget = document.getElementById('textTitleInput');
                editTitleTarget.value = editTitleSource.value;
            }

            $(function () {
                editModal = (textId, title) => {
                    try {
                        $.ajax({
                            type: 'GET',
                            url: "/Admin/EditText?Id=" + textId,
                            contentType: false,
                            datatype: "html",
                            async: true,
                            success: function (res) {
                                $('#editImpressumModal .modal-body').html(res);
                                $('#editImpressumModal .modal-title').html(title);
                                $('#editImpressumModal').modal('show');
                            },
                            error: function (err) {
                                console.log(err);
                            }
                        });
                        return false;
                    } catch (ex) {
                        console.log(ex);
                    }
                    return false;
                }
            });

            function saveText() {
                let textId = document.getElementById('textIdInput').value;
                let textPage = document.getElementById('textPageInput').value;
                let textTitle = document.getElementById('textTitleInput').value;
                let textLanguageId = document.getElementById('textLanguageIdInput').value;
                let textText = defaultRTE.value;
                let textItem = { Id: textId, Page: textPage, Title: textTitle, LanguageId: textLanguageId, Text: textText }
                return $.ajax({
                    type: "POST",
                    beforeSend: function (request) { request.setRequestHeader("RequestVerificationToken", "@AntiForgery.GetTokens(Context).RequestToken"); },
                    url: "/Admin/EditText",
                    contentType: 'application/json',
                    data: JSON.stringify(textItem),
                    datatype: "html",
                    async: true,
                    success: function (data) {
                        $('#editImpressumModal .modal-body').html(data);
                        let impressumDiv = document.getElementById('impressumTextDiv');
                        impressumDiv.innerHTML = textText;
                        $('#editImpressumModal').modal('hide');
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        console.log(textStatus, errorThrown);
                    }
                });
            }
        </script>
        }
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" id="editImpressumModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<style>
    .e-rte-image-popup.e-rte-quick-popup {
        z-index: 20001 !important;
    }
</style> 
