@model Progeny
@{
    ViewData["Title"] = "RequestAccess";
}
<div class="ml-xl-auto mr-xl-auto col-xl-10 col-xxl-9">
    <h2>Request Access</h2>

    <div>A request has been sent to the administrators for @Model.NickName</div>
</div>
