
@{
    ViewData["Title"] = "Test";
}

<h2>Test</h2>
<br/>
<div class="ml-auto mr-auto">
    <div class="media-area bg-secondary" style="background: rgba(38, 3, 51, 0.9);">
        <div class="media" style="background: rgba(38, 3, 51, 0.9);">
            <div class="float-left">
                <div style="height: 40px; width: 40px;">
                    <img class="media-object rounded-circle img-fluid" src="~/images/kinaunalogo48x48.png" />
                </div>
            </div>
            <div class="media-body">
                <h6 class="text-warning">KinaUna.com <small class="text-warning"> · 09-Nov-2018 09:28</small></h6>
                <h5 class="media-heading text-success">
                    Title
                </h5>
                <div class="text-light" style="font-size: 0.9rem;">
                    This is a test message. Testing how it will look on this page. Hello, hello, how are you?
                </div>
                <div class="media-footer">
                    <a href="#" class="btn btn-danger btn-link btn-sm float-right">
                        <i class="material-icons">clear</i> Remove
                    </a>
                    <a href="#" class="btn btn-info btn-link btn-sm float-right">
                        <i class="material-icons">markunread</i> Mark as unread
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<img class="rounded-circle img-fluid"/>