@model List<Picture>
@{
    ViewData["Title"] = "Download Pictures Result";
}
@{ int remaining = ViewBag.Remaining - Model.Count(); }
<h2>Download Pictures Result</h2>
<div>Pictures updated: @Model.Count</div>
<div>Pictures remaining: @remaining</div><br/>
@if (Model.Any())
{

    foreach (Picture pic in Model)
    {
        <div>Id: @pic.PictureId</div>
        <div>@*<img src="@pic.PictureLink600" />*@</div>
        <br/>
    }
}
else
{
    <div>No pictures updated</div>
}
<div><a asp-action="Index">Back to Admin</a></div>