@model KinaUnaWeb.Models.AdminViewModels.ManageHelpPagesViewModel
@{
    ViewData["Title"] = "Help Pages";
}
<div class="ml-xl-auto mr-xl-auto col-xl-11 col-xxl-10">
    <div class="row">
        <div class="col-12">
            <h2>@ViewData["Title"]</h2>
            <div class="space-20"></div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary" id="add-help-page">Add Help Page</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul id="view-ul" class="select-view-ul" style="flex-wrap: wrap; justify-content: center;">
                        @foreach (string pageItem in Model.Pages)
                        {
                            <li class="select-view-item" data-help-page="@pageItem">@pageItem</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="help-page-content-div">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/admin/manage-help-pages-v12.js" type="module" asp-append-version="true"></script>