@model List<VocabularyItem>
@{
    ViewData["Title"] = "Import Vocabulary Result";
}

<h2>Import Vocabulary Result</h2>

@if (Model.Any())
{
    foreach (VocabularyItem voc in Model)
    {
        <div>Id: @voc.WordId, ProgenyId: @voc.ProgenyId</div>
    }
}
else
{
    <div>No locations updated</div>
}
