@model List<Measurement>
@{
    ViewData["Title"] = "Import Measurements Result";
}

<h2>Import Measurements Result</h2>

@if (Model.Any())
{
    foreach (Measurement msm in Model)
    {
        <div>Id: @msm.MeasurementId, ProgenyId: @msm.ProgenyId</div>
    }
}
else
{
    <div>No locations updated</div>
}
