@model List<Location>
@{
    ViewData["Title"] = "Import Locations Result";
}

<h2>Import Locations Result</h2>

@if (Model.Any())
{
    foreach (Location loc in Model)
    {
        <div>Id: @loc.LocationId, Name: @loc.Name, ProgenyId: @loc.ProgenyId</div>
    }
}
else
{
    <div>No locations updated</div>
}
