@model List<Picture>
@{
    ViewData["Title"] = "Import Pictures Result";
}

<h2>Import Pictures Result</h2>

@if (Model.Any())
{
    foreach (Picture pic in Model)
    {
        <div>Id: @pic.PictureId, Link: @pic.PictureLink, ProgenyId: @pic.ProgenyId</div>
    }
}
else
{
    <div>No pictures updated</div>
}
