@model List<Contact>
@{
    ViewData["Title"] = "Import Contacts Result";
}

<h2>Import Contacts Result</h2>

@if (Model.Any())
{
    foreach (Contact cnt in Model)
    {
        <div>Id: @cnt.ContactId, ProgenyId: @cnt.ProgenyId</div>
    }
}
else
{
    <div>No locations updated</div>
}
