@model List<UserAccess>
@{
    ViewData["Title"] = "Import User Access Result";
}

<h2>Import User Access Result</h2>

@if (Model.Any())
{
    foreach (UserAccess ua in Model)
    {
        <div>Id: @ua.AccessId, ProgenyId: @ua.ProgenyId</div>
    }
}
else
{
    <div>No locations updated</div>
}
