@model List<CalendarItem>
@{
    ViewData["Title"] = "Import Calendar Result";
}

<h2>Import Calendar Result</h2>

@if (Model.Any())
{
    foreach (CalendarItem cal in Model)
    {
        <div>Id: @cal.EventId, ProgenyId: @cal.ProgenyId</div>
    }
}
else
{
    <div>No locations updated</div>
}
