@model List<Friend>
@{
    ViewData["Title"] = "Import Friends Result";
}

<h2>Import Friends Result</h2>

@if (Model.Any())
{
    foreach (Friend frn in Model)
    {
        <div>Id: @frn.FriendId, ProgenyId: @frn.ProgenyId</div>
    }
}
else
{
    <div>No locations updated</div>
}
