@model List<Sleep>
@{
    ViewData["Title"] = "Import Sleep Result";
}

<h2>Import Sleep Result</h2>

@if (Model.Any())
{
    foreach (Sleep slp in Model)
    {
        <div>Id: @slp.SleepId, ProgenyId: @slp.ProgenyId</div>
    }
}
else
{
    <div>No locations updated</div>
}
