
@{
    ViewData["Title"] = "Administration";
}

<h2>@ViewData["Title"]</h2>
<br />
<div>Send admin message: <a asp-action="SendAdminMessage">Compose Message</a></div>
<br />
<div>Send push notification: <a asp-action="SendPush">Compose Push Notification</a></div>
<br/>

<button type="button" class="btn btn-warning" onclick="removeServiceWorkers()">Remove Service Workers</button>
@*Import Locations: <a asp-action="ImportLocations">Start Locations Import</a>
    <br />
    Import Pictures: <a asp-action="ImportPictures">Start Pictures Import</a>
    <br />
    Import Videos: <a asp-action="ImportVideos">Start Videos Import</a>
    <br />
    Import Comments: <a asp-action="ImportComments">Start Comments Import</a>
    <br />
    Import Calendars: <a asp-action="ImportCalendars">Start Calendars Import</a>
    <br />
    Import Vocabulary: <a asp-action="ImportVocabulary">Start Vocabulary Import</a>
    <br />
    Import Skills: <a asp-action="ImportSkills">Start Skills Import</a>
    <br />
    Import Friends: <a asp-action="ImportFriends">Start Friends Import</a>
    <br />
    Import TimeLine: <a asp-action="ImportTimeLine">Start TimeLine Import</a>
    <br />
    Import Measurements: <a asp-action="ImportMeasurements">Start Measurements Import</a>
    <br />
    Import Sleep: <a asp-action="ImportSleep">Start Sleep Import</a>
    <br />
    Import Notes: <a asp-action="ImportNotes">Start Notes Import</a>
    <br />
    Import Contacts: <a asp-action="ImportContacts">Start Contacts Import</a>
    <br />
    Import Addresses: <a asp-action="ImportAddresses">Start Addresses Import</a>
    <br />
    Import Vaccinations: <a asp-action="ImportVaccinations">Start Vaccinations Import</a>
    <br />
    Import User Access: <a asp-action="ImportUserAccess">Start User Access Import</a>
    <br />
    Update TimeLine: <a asp-action="UpdateTimeLine">Start TimeLine Update</a>
    <br />
    <br />
    Number of Pictures Not downloaded: <a asp-action="ShowPicturesNotDownloaded">Show pictures to download count</a>
    <br />
    Download Pictures: <a asp-action="DownloadPictures">Start pictures download</a>
    <br />
    Download Friends Pictures: <a asp-action="DownloadFriendsPictures">Start friends pictures download</a>
    <br />
    Download Contacts Pictures: <a asp-action="DownloadContactsPictures">Start contacts pictures download</a>*@
