
@{
    ViewData["Title"] = "Administration";
}

<h2>@ViewData["Title"]</h2>
<br/>
<div>Manage translations: <a asp-action="ManageTranslations">Manage translations</a></div>
<br />
<div>Manage texts: <a asp-action="ManageTexts">Manage texts</a></div>
<br/>
<div>Manage languages: <a asp-action="ManageLanguages">Manage languages</a></div>
<br/>
<div>Send admin message: <a asp-action="SendAdminMessage">Compose Message</a></div>
<br />
<div>Send push notification: <a asp-action="SendPush">Compose Push Notification</a></div>
<br />
<button type="button" class="btn btn-warning" onclick="removeServiceWorkers()">Remove Service Workers</button>

