@model KinaUnaWeb.Models.AdminViewModels.ManageTranslationsViewModel
@{
    ViewData["Title"] = "Manage Translations";

}
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="space-20"></div>
    <div class="add-item-container-wide">
        <div class="space-20"></div>
        <h2>@ViewData["Title"]</h2>
        <div class="space-20"></div>
        @if (Model.Translations.Any())
        {
            if (Model.PagesList.Any())
            {
                <ul id="view-ul" class="select-view-ul" style="flex-wrap: wrap; justify-content: center;">
                    @foreach (string pageItem in Model.PagesList)
                    {
                        <li class="select-view-item" data-viewid="@pageItem">@pageItem</li>
                    }
                </ul>
            }
        }
        <div class="space-50"></div>
        <div class="row bg-dark p-4">
            <div class="col-auto">Page:</div>
            <div class="col-auto">
                <div id="translationsPageSelectedDiv" class="h5"></div>
            </div>
            <div class="col"></div>
        </div>
        <div class="space-20"></div>
        <div id="translationsList" class="table-responsive">
            <table id="translationsListTable" class="table table-borderless">
                <tr id="translationsListTableHeader">
                    <th style="min-width: 250px;">Key</th>
                    <th style="width: 150px;">Language</th>
                    <th style="width: 50%;">Translation</th>
                    <th style="width: 50px;">Action</th>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
            
    // prevent unneeded selection of list elements on clicks
    //viewUl.onmousedown = function () {
    //    return false;
    //};
        
</script>
<script src="/js/admin/manage-translations.js" type="module" asp-append-version="true"></script>