@model bool
@{
    ViewData["Title"] = "CommentThreads Update Complete";
}
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div>Admin update CommentThreads is now completed.</div>
    <div>Result: @Model</div>
</div>