@model List<int>
@{
    ViewData["Title"] = "TimeLine Items Update Complete";
}
<div class="ml-xl-auto mr-xl-auto col-xl-10 col-xxl-9">
    <div>Admin update Time Line is now completed.</div>
    <div>Items added: @Model[0]</div>
</div>