@model bool
@{
    ViewData["Title"] = "CommentThreads Update Complete";
}
<div class="ml-xl-auto mr-xl-auto col-xl-10 col-xxl-9">
    <div>Admin update CommentThreads is now completed.</div>
    <div>Result: @Model</div>
</div>