@{
    ViewData["Title"] = "Bekræft email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Tak for bekræftelsen af din email.
    </p>
</div>
<div>
    <br />Du kan nu logge ind på Kina Una<br/>
    <a class="btn btn-success" href="http://web.kinauna.com">Gå til Kina Una Web App</a>
</div>