@using KinaUna.Data
@{
    ViewData["Title"] = "Bekræft email";
}

<h4>@ViewData["Title"]</h4>
<div>
    <p>
        Tak for bekræftelsen af din email.
    </p>
</div>
<div>
    <br />Du kan nu logge ind på @ViewData["AccountType"]<br />
    <a class="btn btn-success" href="@Constants.WebAppUrl">Gå til KinaUna Web App</a><br/>
    <a class="btn btn-success" href="@Constants.PivoqCoreUrl">Gå til Pivoq Web App</a>
</div>