@using KinaUna.Data
@using KinaUna.IDP
@{
    ViewData["Title"] = "Confirm email";
}

<h4>@ViewData["Title"]</h4>
<div>
    <p>
        Thank you for confirming your email.
    </p>
</div>
<div>
    <br />You can now log in to @Constants.AppName<br/>
    <a class="btn btn-success" href="@Constants.WebAppUrl">Go to the @Constants.AppName Web App</a>
</div>