@{
    ViewData["Title"] = "E-Mail Bestätigung";
}

<h4>@ViewData["Title"]</h4>
<div>
    <p>
        Danke für die E-Mail-bestätigung.
    </p>
</div>
<div>
    <br />Sie können sich jetzt als Benutzer anmelden.<br />
    <a class="btn btn-success" href="http://web.kinauna.com">Gehe zu Kina Una Web App</a>
</div>