@using KinaUna.IDP
@{
    ViewData["Title"] = "Bekræft email";
}

<h4>@ViewData["Title"]</h4>
<div>
    <p>
        Tak for bekræftelsen af din email.
    </p>
</div>
<div>
    <br />Du kan nu logge ind på @Constants.AppName<br/>
    <a class="btn btn-success" href="@Constants.WebAppUrl">Gå til @Constants.AppName Web App</a>
</div>