@using KinaUna.Data
@using KinaUna.IDP.Services
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
    ViewData["Title"] = await LocaleManager.GetTranslation("Forgot password confirmation", PageNames.Account, languageId);
}
<h2>@ViewData["Title"]</h2>
<p>
    @await LocaleManager.GetTranslation("Please check your email for further instructions on how to reset your password.", PageNames.Account, languageId)
</p>
