@model KinaUna.IDP.Models.AccountViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Paswort vergessen?";
}

<h4>@ViewData["Title"]</h4>
<h4>Geben Sie Ihre E-Mail-Adresse.</h4>
<div>Sobald sie auf Senden klicken wird ein Bestätigungscode an Ihre alte E-Mail-Adresse geschickt.</div>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <a class="btn btn-info leavePage" style="float: right;" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]">&nbsp;Zurück zur Login&nbsp;</a>
            <button type="submit" class="btn btn-success leavePage">Senden</button>
        </form>
    </div>
</div>
<br/><br/>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}