@using KinaUna.Data
@model KinaUna.IDP.Models.AccountViewModels.LoginViewModel
@{
    ViewData["Title"] = "Log in";
}
<div class="row">
    <div class="col-md-10">
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" >
                <input type="hidden" asp-for="ReturnUrl" />
                <h4>Log in med en @Constants.AppName konto.</h4>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label form-label"></label>
                    <input asp-for="Email" class="form-control form-input form-input-center" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label form-label"></label>
                    <input asp-for="Password" class="form-control form-input form-input-center" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success leavePage closeModal">&nbsp;LOG IN&nbsp;</button>
                </div>
                <br/><br/>
                <p>
                    <a class="leavePage" asp-action="ForgotPassword">Glemt dit password?</a>
                </p>
                <p>
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text leavePage">Opret en ny bruger?</a>
                </p>
            </form>
        </section>
    </div>
</div>
<script>
    window.parent.postMessage("openModal", '*'); // If the login failed, reopen the modal.
</script>