@using KinaUna.IDP
@model KinaUna.IDP.Models.AccountViewModels.LogoutViewModel
<h4>Logout</h4>
<div class="row">
    <div class="col-sm-6">
        <p>Vil du logge af @Constants.AppName?</p>
        <form asp-action="Logout">
            <input type="hidden" name="logoutId" value="@Model.LogoutId"  />
            <fieldset>
                <div class="form-group">
                    <button class="btn btn-primary">Ja</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>