@{
    ViewData["Title"] = "Registration confirmation sent";
}

<h3 class="title">@ViewData["Title"]</h3>

<div>
    Thank you for registering a new account.<br />
    An email has been sent to @ViewBag.userEmail to confirm your email address.<br /><br />
    If you do not see the email in your inbox within a few minutes, please check your spam/junk email folder.<br />
</div>