@{
    ViewData["Title"] = "Neue Benutzer-Registrierung";
}

<h4 class="title">@ViewData["Title"]</h4>

<div>
    Danke für Ihre Registrerung.<br />
    Eine Email wurde an @ViewBag.userEmail gesandt, um Ihre Adresse zu bestätigen.<br /><br />
    Wenn die E-Mail nicht innerhalb von wenigen Minuten bei Euch ankommt prüfen Sie bitte Ihren Spamordner.<br />
</div>