@{
    ViewData["Title"] = "Bekræft oprettelse mail er sendt";
}

<h3 class="title">@ViewData["Title"]</h3>

<div>
    Tak for oprettelsen af en ny konto.<br />
    En mail er sendt til @ViewBag.userEmail for at bekræfte mailadressen.<br /><br />
    Hvis du ikke modtager mailen indenfor nogle minutter kig efter i din spam/junk mappe.<br />
</div>