@{
    ViewData["Title"] = "Nulstil password bekræftigelse";
}

<h4 class="title">@ViewData["Title"]</h4>
<p>
    Dit password er nulstillet. <a class="leavePage" asp-action="Login">Klik her for at logge ind.</a>.
</p>
