@{
    ViewData["Title"] = "Reset password confirmation";
}

<h3 class="title">@ViewData["Title"]</h3>
<p>
    Your password has been reset. Please <a class="leavePage" asp-action="Login">click here to log in</a>.
</p>
