@using KinaUna.Data
@using KinaUna.IDP.Services
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
    ViewData["Title"] = await LocaleManager.GetTranslation("Reset password confirmation", PageNames.Account, languageId);
}
<h4 class="title">@ViewData["Title"]</h4>
<p>
    @await LocaleManager.GetTranslation("Your password has been reset.", PageNames.Account, languageId) <a class="leavePage" asp-action="Login">@await LocaleManager.GetTranslation("Click here to log in", PageNames.Account, languageId)</a>.
</p>
