@using KinaUna.IDP.Models.AccountViewModels
@model KinaUna.IDP.Models.AccountViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Passwort rücksetzen";
}

<h4 class="title">@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Passwort</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Passwort wiederholen</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input asp-for="Language" value="de" hidden="hidden" />
            <button type="submit" class="btn btn-default leavePage">Rücksetzen</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
