@{
    ViewData["Title"] = "Nulstil password bekræftigelse";
}

<h3 class="title">@ViewData["Title"]</h3>
<p>
    Dit password er nulstillet. <a class="leavePage" asp-action="Login">Klik her for at logge ind.</a>.
</p>
