@{
    ViewData["Title"] = "Passwort Rücksetz-Bestätigung";
}

<h3 class="title">@ViewData["Title"]</h3>
<p>
    Ihre Passwort wurde zurück gesetzt. <a class="leavePage" asp-action="Login">Klicken Sie hier, um sich einzuloggen.</a>.
</p>
