@{
    ViewData["Title"] = "Reset password confirmation";
}

<h4 class="title">@ViewData["Title"]</h4>
<p>
    Your password has been reset. Please <a class="leavePage" asp-action="Login">click here to log in</a>.
</p>
