@{
    ViewData["Title"] = "Mail bekræftigelse påkrævet";
}

<header>
    <h3 class="title text-danger">@ViewData["Title"]</h3>
    <p class="text-danger">Fejl: Din mail-adresse er ikke bekræftet.</p>
</header>
<div>

</div>
<div>
    En ny bekræftigelsesmail er blevet sendt.<br />Hvis den ikke dukker op inden for nogle minutter, kig i din spam mappe.
</div>
<div>
    Klik på linket i mailen for at fortsættte med bekræftelsen og logge ind.
</div>