@{
    ViewData["Title"] = "E-mail Bestätigung erforderlich";
}

<header>
    <h4 class="title text-danger">@ViewData["Title"]</h4>
    <p class="text-danger">Fehler: Ihre E-Mail wurde noch nicht bestätigt .</p>
</header>
<div>

</div>
<div>
    Eine neue E-Mail wurde gesendet.<br /> Wenn die E-Mail nicht innerhalb von wenigen Minuten bei Euch ankommt prüfen Sie bitte Ihren Spamordner.
</div>
<div>
    
</div>