@using KinaUna.Data
@using KinaUna.Data.Extensions
@using KinaUna.Data.Models.Family
@using KinaUnaWeb.Services
@model KinaUnaWeb.Models.FamiliesViewModels.FamiliesViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Families", PageNames.Family, Model.LanguageId);
}
<div class="row m-0">
    <div class="col-12">
        <div class="page-tab-container">
            <div class="page-tab active" id="page-title-div">
                <a class="btn-page-tab active leave-page" asp-controller="Families" asp-action="Index">
                    <i class="material-icons sidebar-icon">fact_check</i>@ViewData["Title"]
                </a>
            </div>
            <div class="page-tab">
                <a class="btn-page-tab leave-page" asp-controller="Families" asp-action="Members">
                    <i class="material-icons sidebar-icon">group</i> @await LocaleManager.GetTranslation("Family Members", PageNames.Family, Model.LanguageId)
                </a>
            </div>
            <div class="page-tab">
                <a class="btn-page-tab leave-page" asp-controller="Families" asp-action="UserAccess">
                    <i class="material-icons sidebar-icon">lock_person</i> @await LocaleManager.GetTranslation("User Access", PageNames.Family, Model.LanguageId)
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row m-0">
    <div class="ml-xl-auto mr-xl-auto col-12 col-xxl-11 col-xxxl-10 col-w1900-8 col-w2500-7 bg-page-content">
        <div class="space-20"></div>
        <div id="families-list-div" class="row row-cols-1">
            @foreach (Family family in Model.Families)
            {
                <div class="card-header rounded w-100 p-0 pt-2" style="padding-right: 5px; margin-bottom: 0;">
                    <div class="row">
                        <div class="col-auto card-title text-left"><span class="pr-2"><i class="material-icons kinauna-icon-medium" style="font-size: 32px">family_restroom</i> </span><span class="h5">@family.Name</span></div>
                        <div class="col-12">
                            <div class="row">
                                @foreach (FamilyMember familyMember in family.FamilyMembers)
                                {
                                    if (familyMember.ProgenyId != 0 && familyMember.Progeny != null)
                                    {
                                        <div class="col">
                                            <img src="@familyMember.Progeny.GetProfilePictureUrl()" style="max-height: 24px; margin-top: 2px; margin-right: 6px; margin-left: 4px; border-radius: 10px; right: 8px; position: absolute;"/>
                                            <div>
                                                @familyMember.Progeny.NickName
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        
    </div>
</div>
