@model KinaUnaWeb.Models.FamiliesViewModels.FamiliesViewModel
@using KinaUna.Data
@using KinaUnaWeb.Services
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Family Members", PageNames.Family, Model.LanguageId);
}
<div class="row m-0">
    <div class="col-12">
        <div class="page-tab-container">
            <div class="page-tab active" id="page-title-div">
                <a class="btn-page-tab active leave-page" asp-controller="Families" asp-action="Index">
                    <i class="material-icons sidebar-icon">people</i>@await LocaleManager.GetTranslation("Family Members", PageNames.Family, Model.LanguageId)
                </a>
            </div>
            <div class="page-tab">
                <a class="btn-page-tab leave-page" asp-controller="Families" asp-action="Members">
                    <i class="material-icons sidebar-icon">group</i> @ViewData["Title"]
                </a>
            </div>
            <div class="page-tab">
                <a class="btn-page-tab leave-page" asp-controller="Families" asp-action="UserAccess">
                    <i class="material-icons sidebar-icon">lock_person</i> @await LocaleManager.GetTranslation("User Access", PageNames.Family, Model.LanguageId)
                </a>
            </div>
        </div>
    </div>
</div>